{% extends "_base_user.html" %}

{% block page_title %}Esqueceu sua senha{% endblock page_title %}
{% block content %}

<section class="container">
  <div class="block">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <header>
          <h1 class="page-title" style="padding-bottom:10px">Esqueceu sua senha</h1>
        </header>
        <hr>
        <div class="separador-10"> </div>
        {% if token_valid %}
          <form role="form" method="post" enctype="multipart/form-data">{%csrf_token%}
            <div class="form-group">
              <label>Nova senha</label>
              <input type="password" name="password" minlength="6" class="form-control" required="" id="id_password">
            </div>
            <div class="form-group">
              <label>Confirme a senha</label>
              <input type="password" name="confirm" minlength="6" class="form-control" required="" id="confirm"onblur="validarSenha()">
            </div>
            <div id="nomatchpswd" class="error_message">
              As senhas não são correspondentes
            </div>
            <div class="separador-30"> </div>
            <div class="form-group clearfix">
              <button type="submit" method="post" class="btn pull-right btn-default" id="send">Enviar</button>
            </div>
          </form>
        {% else %}
          Ocorreu algum problema:<br><br>a URL não se encaixa com o usuário; favor contactar o administrador do site.
        {% endif %}
      </div>
    </div>
  </div>
</section>


















{% block jquery %}
    <script src="/static/base_template_user/vendor/jquery/jquery.min.js"></script>
    <script src="/static/base_template_user/vendor/jquery.appear/jquery.appear.min.js"></script>
    <script src="/static/base_template_user/vendor/jquery.easing/jquery.easing.min.js"></script>
    <script src="/static/base_template_user/vendor/jquery-cookie/jquery-cookie.min.js"></script>
{% endblock jquery %}

<script>
    function validarSenha(){
      password = document.getElementById("id_password").value
      confirm = document.getElementById("confirm").value
      if (password == confirm){
        document.getElementById('nomatchpswd').style.display = 'none';
        document.getElementById("send").disabled = false; 
      }
      else{
        document.getElementById('nomatchpswd').style.display = 'inline-block';
        document.getElementById("send").disabled = true;
      }

    }

        
</script>
{% endblock content %}
