{% extends "_base_user.html" %}
{% block page_title %}Home{% endblock page_title %}
{% block content %} 
<!-- =====================================================
CSS imports
===================================================== -->
<link rel="stylesheet" href="/static/CUSTOM_CSS/user/home.css" type="text/css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">




<!-- =====================================================
Body code
===================================================== -->
<section class="hero-image search-filter-middle height-500">
  <div class="inner">
    <div class="container">
      <div style="max-width:650px; display:inline-block"><h1 id="home_title">Encontre o melhor local para a sua festa</h1></div>
      <div class="search-bar horizontal">
        <form class="main-search border-less-inputs background-dark narrow" role="form" method="post" enctype="multipart/form-data">{%csrf_token%}
          <div class="input-row">
            <div style="width:100%">
              <label class="form_label" for="place" style="width:100%">Localização de Preferência</label>
              <div class="input-group location" style="width:100%; padding-right:40px;">
                <input type="text" class="form-control" id="place_id" name="place" placeholder="Localização" style="width:100%">
                <button type="submit" class="btn btn-default" id="home_send"><i class="fa fa-search"></i></button>
              </div>
            </div>
            <br>

            <div id="home_advanced" class="row" style="display:none">
              <div class="col-md-6">
                <label class="form_label" for="date">Data da Comemoração</label>
                <input type="text" class="form-control" id="date_id" name="date" autocomplete="off">
                <div class="separador-10"> </div>
              </div>
              <div class="col-md-6">
                <label class="form_label" for="capacity">Quantidade de Convidados</label>
                <input  type="number" id="capacity_id" name="capacity" class="form-control" placeholder="Número de Convidados">
              </div>
              <div class="separador-20"> </div>
            </div>
            <div class="form_label" id="home_arrow" for="date">
              Busca Avançada
              <span id="home_arrow_symbol">&#709;</span>
            </div>



          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="background">
    <img src="/static/img/background/FESTAS5-2.jpg" alt="">
  </div>
</section>



<section id="featured" class="block equal-height">
  <div class="container">
    <header>
      <h2><span style="border-bottom:2px solid #94d600;">Destaques da Semana</span></h2>
    </header>
    <div class="row">
      {% for i in "xxxx" %}
        <div class="col-md-3 col-sm-3">
          <div class="item" style="margin-bottom:20px; cursor:pointer;">
            <div class="img-center center-cropped" style="background-image: url(/static/img/background/FESTAS1-2.jpg); height:300px; vertical-align:bottom;"></div><!--
            --><div class="feature_wrapper">
                <h3 style="margin:0">Benny’s Cafeteria</h3>
                <span style="color:white" class="stars" data-rating="3.8" data-num-stars="5"></span>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!--/.row-->
  </div>
  <!--/.container-->
  <div class="background opacity-5">
    <img src="/static/base_template_user/assets/img/restaurants-bg2.jpg" alt="">
  </div>
</section>






<!-- =====================================================
JavaScript imports
===================================================== -->
{% block jquery %}
  <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
<script type="text/javascript" src="/static/CUSTOM_JS/user/home.js"></script>
<script type="text/javascript" src="/static/CUSTOM_JS/core/general.js"></script>
<script>
  function initAutocomplete() {
    //----autocomplete start
    var input = (document.getElementById('place_id'));
    var defaultBounds = new google.maps.LatLngBounds(


        new google.maps.LatLng(-24.230623, -53.141559),
        new google.maps.LatLng(-20.533727, -44.352497)

    );

    var options = {
        bounds:defaultBounds
    };
    var autocomplete = new google.maps.places.Autocomplete(input, options);
    //----autocomplete end
  }
</script>
{% block js_maps %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgsG2vhClFly8kadgTOHCX4wucOwgTiuw&libraries=places&callback=initAutocomplete&language=pt"async defer></script>
{% endblock js_maps %}
{% endblock content %}
