{% extends "_base_user.html" %}
{% load user_tags %}


{% block page_title %}Cadastrar{% endblock page_title %}
{% block js_select_customize %}{% endblock js_select_customize %}
{% block content %}
<link rel="stylesheet" href="/static/CUSTOM_CSS/user/user_create_token.css" type="text/css">
{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}


{% photo_from_fb buyer_photo|stringformat:"s" as is_fb %}

<section class="container">
  <div class="block">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <header>
          {% if not create_family_member %}
            <div class="separador-40"> </div>
          {% endif %}
          <h1 class="page-title" style="text-align:center">
          {% if token_valid %}
            {% if not is_fb %}
              E-mail confirmado
              <div class="separador-10"> </div>
              <i class="fa fa-check" style="margin-bottom:5px"> </i>

              <h3 style="text-align:center;">
              Você será redirecionado para<br>Home Page em 5 segundos.
              </h3>
            {% endif %}
            {% if create_family_member %}
              {% if not is_fb %}
                <hr class="line"/>
              {% endif %}
              <div class="family_member_wrapper">
                <div class="center_element">
                </div>

              </div>
            {% endif %}



          {% else %}
            Ocorreu algum problema:<br><br>a URL não se encaixa com o usuário; favor contactar o administrador do site
          {% endif %}
          </h1>
        </header>
      </div>
    </div>
  </div>
</section>




<script type="text/javascript" src="/static/CUSTOM_JS/user/user_create_token.js"></script>


<script>
setTimeout(function(){
  window.location.href = "/home/"
}, 5000)
</script>


{% endblock content %}
