{% extends "_base_background_image.html" %}
{% load user_tags %}
{% load datetime_tags %}



{% block page_title %}Cadastrar{% endblock page_title %}
{% block container_with_background %}
  <header>
    <h1 class="page-title" style="padding:0px; color:#00195c">Eu quero...</h1>
  </header>
  <hr>
  <div style="text-align:center; width:100%">
    <div class="btn btn-default" style="background-color:#98d000">Procurar</div>
  </div>

  <div class="separador-20"> </div>



    <form role="form" method="post" enctype="multipart/form-data">{%csrf_token%}
      <div class="form-group">
        <label style="white-space:normal;display:block;">Digite o seu e-mail</label>
        <input type="email" name="email" id="id_email"/>
      </div>
      <div class="form-group clearfix">
        <input type="submit" method="post" class="btn pull-right btn-default" id="send" value="Criar Conta"/>
      </div>
      <div class="separador-10"> </div>
      <hr>
      <div class="center_element" style="white-space:normal;">


        <label class="container_checkbox" style="font-weight:bold; display:inline-block">
          <input id="id_accepts_newsletter_seller" type="checkbox" name="accepts_newsletter_seller" checked>
          <span class="checkmark_checkbox" style="display:inline-block; margin-top:-5px"></span>
        </label>
        <figure class="note" style="display:inline-block;">Aceita receber novidades e promoções do 123Festas</figure>
        <div class="separador-10"> </div>

        <figure class="note">Ao clicar em “Criar Conta”, eu concordo com os <a href="#" onclick='window.open("/termos-e-condicoes");return false;' class="link">Termos & Condições</a> do site</figure>
      </form>

    </div>   
{% endblock container_with_background %}