{% extends "_base_background_image.html" %}
{% load user_tags %}
{% load datetime_tags %}

{% block page_title %}Cadastrar{% endblock page_title %}
{% block container_with_background %}

  <div class="checkbox" style="margin-bottom:13px; display:none"><input type="checkbox" name="features[]" value="1"></div>
  <header>
    <h1 class="page-title" style="padding:0px; color:#00195c">Eu quero...</h1>
  </header>
  <hr>
  <div class="separador-10"> </div>
  <div style="width:50%; min-width:380px; margin:auto">
    {% include "_login_fb.html" %}
  </div>
  <div class="separador-20"> </div>
  <div style="text-align:center; width:100%">
    <div class="separador-10"> </div>
    <div class="btn btn-default" id="buyer_button" {% if form_type == "buyer" %}style="background-color:#98d000"{% endif %}>Buscar</div>
    <div class="btn btn-default" id="seller_button" {% if form_type == "seller" %}style="background-color:#98d000"{% endif %}>Anunciar</div><br>
    <div class="separador-40"> </div>
  </div>

  <div class="separador-20"> </div>

















<!-- ==========================================================================================

                                         BUYER FORM  

========================================================================================== -->
  <div id="buyer_wrapper" {% if form_type == "buyer" %}style="display:block"{% endif %}>

    <form role="form" method="post" enctype="multipart/form-data">{%csrf_token%}
      {% for field in form_buyer %}

          {% if field.name == "password" %}
            <div class="form-group">
              <label>{{field.label}}</label>

              <input type="password" name="password" minlength="6" class="form-control" required="" id="id_password">
              <div class="separador-15"> </div>
              <label>Confirme a senha</label>
              <input type="password" name="confirm" minlength="6" class="form-control" required="" id="confirm"onblur="validarSenha()">
              <div id="tooshort" class="error_message">
                A senha deve conter no mínimo 6 dígitos
              </div>

              <div id="nomatchpswd" class="error_message">
                As senhas não são correspondentes
              </div>
            </div>
            <div class="separador-20"> </div>



          {% elif field.name == "day" %}
            <!--
            <div class="form-group">
              <label>{{field.label}}</label>

              <select style="width:100px; display:inline; text-align:center" id="day_id" name="day" required>
                <option value="">Dia</option>
                {% for i in 31|create_monthday_set %}
                  <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
              <select style="width:100px; display:inline; text-align:center" id="month_id" name="month" required>
                <option value="">Mês</option>
                {% for i in 12|create_monthday_set %}
                  <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
              <select style="width:100px; display:inline; text-align:center" id="year_id" name="year" required>
                <option value="">Ano</option>
                {% for i in 120|create_year_set %}
                  <option value="{{i}}">{{i}}</option>
                {% endfor %}
              </select>
              <div class="separador-5"> </div>
              {% if field.errors %}
                <div class="error_message" style="display:block">
                  Data inválida
                </div>
              {% endif %}
            </div>
            <div class="separador-20"> </div>

            -->
          {% elif field.name == "gender" %}
          <!--
            <div class="form-group">
              <label>{{field.label}}</label>

              <div class="row-100">
                <div class="row-50">
                  <label class="container_radio" style="font-weight:bold">Masculino
                    <input id="male" type="radio" name="gender" value="Masculino">
                    <span class="checkmark_radio"></span>
                  </label>
                </div><div class="row-50">
                  <label class="container_radio" style="font-weight:bold">Feminino
                    <input id="female" type="radio" name="gender" value="Feminino">
                    <span class="checkmark_radio"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="separador-20"> </div>
          -->

          {% elif field.name == "civil_status" %}
            <!--
            <div class="form-group">
              <label>{{field.label}}</label>

              <div class="row-100">
                <div class="row-50">

                  <label class="container_radio" style="font-weight:bold">Solteiro(a)
                    <input id="id_solteiro" type="radio" name="civil_status" value="solteiro">
                    <span class="checkmark_radio"></span>
                  </label>
                </div><div class="row-50">
                  <label class="container_radio" style="font-weight:bold">Casado(a)
                    <input id="id_casado" type="radio" name="civil_status" value="casado">
                    <span class="checkmark_radio"></span>
                  </label>
                </div>
              </div>
              <div class="row-100">
                <div class="row-50">
                  <label class="container_radio" style="font-weight:bold">Viúvo(a)
                    <input id="id_viuvo" type="radio" name="civil_status" value="viuvo">
                    <span class="checkmark_radio"></span>
                  </label>
                </div><div class="row-50">
                  <label class="container_radio" style="font-weight:bold">Divorciado(a)
                    <input id="id_divorciado" type="radio" name="civil_status" value="divorciado">
                    <span class="checkmark_radio"></span>
                  </label>
                </div>
              </div>
              <div class="row-100">
                <div class="row-50">
                  <label class="container_radio" style="font-weight:bold">Outro
                    <input id="id_outro" type="radio" name="civil_status" value="outro">
                    <span class="checkmark_radio"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="separador-20"> </div>
            -->

          {% elif field.name == "photo" %}
            <div class="form-group">
              <label>{{field.label}}</label>

              <input name="photo_hidden" id="id_photo_hidden" value="{{photo_url}}" class="hidden"/><!-- hidden field -->
              <div class="separador-10"> </div>
              <label class="btn btn-default btn-file" id="photo_click">
                  Carregar Arquivo{{field}} <!-- hidden field -->
              </label>&nbsp;&nbsp;&nbsp;&nbsp;<span id="id_photo_path" style="color:#999999">{{photo_url}}</span>
              {% if field.errors %}
                <div class="error_message" style="display:block">
                  {% for error in field.errors %}
                    {{error}}
                  {% endfor %}
                </div>
              {% endif %}
              <div class="separador-10"> </div>
            </div>
            <div class="separador-20"> </div>




          {% elif field.name != "month" and field.name != "year" and field.name != "accepts_newsletter" and field.name != "cpf_buyer" and field.name != "cellphone" %}
            <div class="form-group">
              <label>{{field.label}}</label>

              {{field}}
              {% if field.errors %}
                <div class="error_message" style="display:block">
                  {% for error in field.errors %}
                  {{error}}
                  {% endfor %}
                </div>
              {% endif %}
            </div>
            <div class="separador-20"> </div>



          <!-- ===========================================================
          End of FORMS  
          =========================================================== -->
          {% elif field.name == "accepts_newsletter" %}

            <div class="separador-30"> </div>
            <div class="form-group clearfix" style="width:100%; text-align:center">
              <input type="submit" method="post" class="btn btn-default" name="buyer_form" value="Criar Conta" style="width:100%; max-width:400px"/>
            </div>
          </form>
          <div class="separador-10"> </div>
          <hr>
          <div class="center_element" style="white-space: normal;">

            <label class="container_checkbox" style="display:inline-block;">
              <input id="id_accepts_newsletter" type="checkbox" name="accepts_newsletter" {% if field.value %}checked="True"{% endif %}>
              <span class="checkmark_checkbox" style="display:inline-block; margin-top:-5px"></span>
            </label>
            <figure class="note" style="display:inline-block;">Aceita receber newsletter</figure>
            <div class="separador-10"> </div>


            <figure class="note">Ao clicar em “Criar Conta”, eu concordo com os <a href="#" onclick='window.open("/termos-e-condicoes");return false;' class="link">Termos & Condições</a> do site</figure>
          </div>          
        </div>


          {% endif %}


      {% endfor %}



























<!-- ==========================================================================================

                                       SELLER FORM  

========================================================================================== -->
    <div id="seller_wrapper" {% if form_type == "seller" %}style="display:block"{% endif %}>
      <form role="form" method="post" enctype="multipart/form-data">{%csrf_token%}
        {% for field in form_seller %}
            {% if field.name != "bank_code" and field.name != "agency" and field.name != "account" and field.name != "account_type" %}

              <div class="form-group">
                {% if field.name == "password_seller" %}
                  <label>{{field.label}}</label>
                  <input type="password" name="password_seller" minlength="6" class="form-control" required="" id="id_password_seller">
                  <div class="separador-15"> </div>
                  <label>Confirme a senha</label>
                  <input type="password" name="confirm" minlength="6" class="form-control" required="" id="confirm_seller" onblur="validarSenhaSeller()">
                  <div id="tooshort_seller" class="error_message">
                    A senha deve conter no mínimo 6 dígitos
                  </div>
                  <div id="nomatchpswd_seller" class="error_message">
                    As senhas não são correspondentes
                  </div>






                <!-- ===========================================================
                End of FORMS  
                =========================================================== -->
                {% elif field.name == "accepts_newsletter_seller" %}
                  <div class="separador-20"> </div>
                  <div class="form-group clearfix" style="width:100%; text-align:center">
                    <input type="submit" method="post" class="btn btn-default" id="send_seller" name="seller_form" value="Criar Conta" style="width:100%; max-width:400px"/>
                  </div>
                </form>
                <div class="separador-10"> </div>
                <hr>
                <div class="center_element" style="white-space:normal;">


                  <label class="container_checkbox" style="font-weight:bold; display:inline-block">
                    <input id="id_accepts_newsletter_seller" type="checkbox" name="accepts_newsletter_seller" {% if field.value %}checked{% endif %}>
                    <span class="checkmark_checkbox" style="display:inline-block; margin-top:-5px"></span>
                  </label>
                  <figure class="note" style="display:inline-block;">Aceita receber novidades e promoções do 123Festas</figure>
                  <div class="separador-10"> </div>

                  <figure class="note">Ao clicar em “Criar Conta”, eu concordo com os <a href="#" onclick='window.open("/termos-e-condicoes");return false;' class="link">Termos & Condições</a> do site</figure>
                </div>
              </div>

                <!-- ===========================================================
                Other Fields  
                =========================================================== -->
                {% else %}
                  <label>{{field.label}}</label>
                  {{field}}
                  <div id="{{field.name}}_error" class="error_message"></div>
                  {% if field.errors %}
                    <div class="error_message" style="display:block">
                      {% for error in field.errors %}
                      {{error}}
                      {% endfor %}
                    </div>
                  {% endif %}
                {% endif %}
            </div>
            <div class="separador-20"> </div>
          {% endif %}
        {% endfor %}
    </div>
  </div>
{% endblock container_with_background %}
