{% extends "_base_user.html" %}

{% block page_title %}Cadastrar{% endblock page_title %}
{% block content %}

<section class="container">
  <div class="block">
    <div class="row">
      <div class="col-md-4 col-sm-6 col-md-offset-4 col-sm-offset-3">
        <header>
          <div class="separador-40"> </div>
          <h1 class="page-title" style="text-align:center">
          	Um e-mail de confirmação foi enviado para o usuário cadastrado.
          	<div class="separador-10"> </div>
          	<i class="fa fa-envelope-o"> </i>
          </h1>
        </header>
      </div>
    </div>
  </div>
</section>



{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}

{% endblock content %}