/* ================================================
First Block
================================================ */
@media(max-width:650px) {
	#home_title {
		font-size:24px !important;
	}
}
.form_label {
	padding:3px 6px 3px 6px;
	background-color:rgba(0,0,0,0.5) !important;
}
#home_send {
	position:absolute;
	float:right;
	height:42px;
}
#home_arrow {
	cursor:pointer;
	font-weight:bold;
	position:relative;	
}
#home_arrow_symbol {
	font-size:18px;
	position:absolute;
	top:2px;
	right:5px
}