/* ================================================
First Block
================================================ */
@media(max-width:650px) {
	#home_title {
		font-size:24px !important;
	}
}
.form_label {
	padding:3px 6px 3px 6px;
	background-color:rgba(0,0,0,0.5) !important;
}
#home_send {
	position:absolute;
	float:right;
	height:42px;
}
#home_arrow {
	cursor:pointer;
	font-weight:bold;
	position:relative;	
}
#home_arrow_symbol {
	font-size:18px;
	position:absolute;
	top:2px;
	right:5px
}












/* Feature Items */
.feature_image {
	height:200px;
	vertical-align:bottom;
	border-radius:10px 10px 0 0;
}
.feature_wrapper {
	background-color:#94d600;
	color:white;
	text-align:center;
	padding:15px 0 15px 0;
	vertical-align:top;
	border-radius:0 0 10px 10px;
}













