{% extends "admin/_base_admin.html" %}
{% block page_title %}Listar Buffets{% endblock page_title %}


{% block content %}
<style>
  tr {
    background-color:white !important
  }
  .variable_title {
    font-weight:bold
  }
  .variable_description_container {
    margin-left:10px;
  }
  .visualize_altered {
    font-weight:bold;
  }
  .margin_left {
    margin-left:10px;
  }
  .row_fake {
    width:100%;
  }
  .button_featured {
    background-color:#7cbacb;
    color:white;
    padding:5px;
    border-radius:5px;
    cursor:pointer;  
  }
</style>
<h4>Buffets em Destaque</h4>

<div class="separador-20"> </div>
<div style="width:100%;text-align:center">
  Destaque do Buffet&nbsp;&nbsp;&nbsp;=&nbsp;&nbsp;&nbsp;<b>SUM(qtdade_visualizacao)</b>&nbsp;&nbsp;+&nbsp;&nbsp;<b>SUM(valor_review)</b>
  <div class="separador-10"> </div>
  Maior o fator dos valores, menor o valor.
</div>
<br><br>

<h5 class="variable_title">+ - * / ^ e</h5>
<div class="variable_description_container">
  <h6>Operações com adição, subtração, multiplicação, divisão, potência, número de euler</h6>
</div>


<div class="separador-20"> </div>

<form role="form" method="post" enctype="multipart/form-data">{%csrf_token%}
  <h5 class="variable_title">qtdade_visualizacao</h5>
  <div class="variable_description_container">

    <h6 style="display:inline; vertical-align:middle">Fator Data:</h6>&nbsp;&nbsp;
    <input step="0.0000001" type="number" value="{{visualization.factor}}" name="visualization_factor" id="visualization_factor_id"><br>
    <h6>O fator data pondera dias mais recentes para serem mais valorizados; para cada visualização é contabilizado 1/(e^(x*fator)) tal que e=2.71828, x=diferença de datas em dia, fator=Fator Data.</h6>
    <h6 style="display:inline; vertical-align:middle">Fator Um Dia antes:</h6>&nbsp;&nbsp;
    <input step="0.0000001" type="number" value="{{visualization.factor_firstday}}" name="visualization_factor_firstday" id="visualization_factor_firstday_id"><br>
    <h6>Valor de visualizações com um dia anterior (estes não seguirão o fator anterior).</h6>
  </div>

  <div class="separador-20"> </div>

  <h5 class="variable_title">valor_review</h5>
  <div class="variable_description_container">

    <h6 style="display:inline; vertical-align:middle">Fator Data:</h6>&nbsp;&nbsp;
    <input step="0.0000001" type="number" value="{{review.factor}}" name="review_factor_firstday" id="review_factor_firstday_id"><br>
    <h6>O fator data pondera dias mais recentes para serem mais valorizados; para cada review é contabilizado valor_da_review/(e^(x*fator)) tal que e=2.71828, x=diferença de datas em dia, fator=Fator Data.</h6>
    <h6 style="display:inline; vertical-align:middle">Fator Um Dia antes:</h6>&nbsp;&nbsp;
    <input step="0.0000001" type="number" value="{{review.factor}}" name="review_factor_firstday" id="review_factor_firstday_id"><br>
    <h6>Valor de visualizações com um dia anterior (estes não seguirão o fator anterior).</h6>
  </div>
  <div class="separador-20"> </div>
  <div style="width:100%; text-align:center">
    <input type="submit" method="post" value="Atualizar Fatores" class="button_featured"/>
  </div>
</form>

<div class="separador-40"> </div>
<hr class="line"/>
<div class="separador-50"> </div>






<div class="adv-table">
  <table  class="display table table-bordered table-striped" id="dynamic-table">
    <thead>
      <tr>
        <th class="center">Nome</th>
        <th class="center">Endereço</th>
        <th class="center">Review Value</th>
        <th class="center">Visualization Value</th>
        <th>Detalhar</th>
      </tr>
    </thead>
    <tbody>
      {% for place in place_list %}
        <tr id="row_{{place.pk}}">
          <td><a href="/buffet/detalhar/?pk={{place.pk}}">{{place.name}}</a></td>
          <td>{{place.address}}</td>
          <td class="center">{{place.review_list.review_value|floatformat:2}}</td>
          <td class="center">{{place.visualization_value|floatformat:2}}</td>
          <td style="text-align:center">
            {% if place.review_list.review_list or place.visualization_list %}
            <div pk="{{place.pk}}" id="place_{{place.pk}}" class="center detail_place button_featured">
              Detalhar
            </div>
            {% endif %}
          </td>
        </tr>

        


      {% endfor %}
    </tbody>
  </table>
</div>
<div class="separador-100"> </div>











{% block jquery %}<script src="/static/base_template_admin/js/jquery-1.10.2.js"></script>{% endblock jquery %}
<script>
  $(document).on("click", ".detail_place", function(e){
    var pk = $(this).attr("pk")

    var place_list = {{place_list_js|safe}}

    if($("#place_detail_"+pk).html()){
      $("#place_detail_"+pk).remove()
    } else {
      for(i=0;i<place_list.length;i++) {
        var place = place_list[i]
        if(place.pk==parseInt(pk)){
          div_str = ""
          div_str += '<tr id="place_detail_' + pk + '">'
            div_str += '<td colspan="5" style="padding:5px 50px 5px 25px !important">'
                if(place.review_list.review_list.length > 0) {
                  div_str += 'Review'
                  div_str += '<div style="padding-left:25px">'
                    div_str_list = ''
                    for(j=0;j<place.review_list.review_list.length;j++){
                      var review = place.review_list.review_list[j]
                      div_str_list += '<div class="row_fake">'
                        div_str_list += "Valor da Nota: <b>" + review.rate + "</b>&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;"
                        div_str_list += "Tempo que passou: <b>" + review.delta_time + "</b> dias&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;"
                        div_str_list += "Porcentagem: <b>" + (review.value/review.rate).toFixed(2) + "</b>%&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;"
                        div_str_list += "Resultado: <b>" + review.value.toFixed(2) + "</b>"
                      div_str_list += '</div>'
                    }
                    div_str += div_str_list
                  div_str += '</div>'                
                }

                if(place.visualization_list.length > 0) {
                  div_str += 'Visualization'
                  div_str += '<div style="padding-left:25px">'

                    div_str_list = ''
                    for(j=0;j<place.visualization_list.length;j++){
                      var visualization = place.visualization_list[j]
                      div_str_list += '<div class="row_fake">'
                        div_str_list += "Tempo que passou: <b>" + visualization.delta_time + "</b> dias&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp;"
                        div_str_list += "Resultado: <b>" + visualization.value.toFixed(2) + "</b>"
                      div_str_list += '</div>'
                    }
                    div_str += div_str_list
                  div_str += '</div>'
                }
            div_str += '</td>'
          div_str += '</tr>'
          console.log(div_str)
          $("#row_"+pk).after(div_str)
        }
      }
    }

    



  })


</script>


{% endblock content %}