{% extends "admin/_base_admin.html" %}

{% block content %}
	<h4>Subir planilha de dados de Buffets</h4>
	<hr class="line">
	<h5>Faça download do modelo de planilha.</h5>
	<div class="separador-20"> </div>
	<div style="width:100%; text-align:center">
		<div class="admin_button">Download Modelo</div>
	</div>
	<div class="separador-40"> </div>

	<h5>Faça upload da planilha com os dados dos buffets</h5>
	<div class="separador-20"> </div>
	<div style="width:100%; text-align:center">
		<div class="admin_button">Upload Buffets</div>
	</div>
{% endblock content %}