.wrapper_buffetbought {
	padding-bottom:0 !important;
}
@media(min-width:768px) {
	.wrapper_buffetbought {
		padding-top:10px !important;
	}
}
@media(max-width:767px) {
	.wrapper_buffetbought {
		padding:10px 10px 0 10px !important;
	}
}


.review_plussign {
	cursor:pointer;
	font-weight:bold;
	font-size:18px;
	vertical-align:middle;
	color:#4fa7bc;
}
.review_wrapper {
	display:none;
}
.review_star {
	margin:0 !important;
}