.wrapper_placeowned {
	position:relative
}
@media(min-width:768px) {
	.wrapper_placeowned {
		padding-top:10px !important;
		padding-bottom:0 !important;
	}
}
@media(max-width:767px) {
	.wrapper_placeowned {
		padding:10px 10px 60px 10px !important;
	}
}


.listowned_button {
	font-size:12px;
}
.review_plussign {
	cursor:pointer;
	font-weight:bold;
}
.review_wrapper {
	display:none;
}
.review_star {
	margin:0 !important;
}