.section_availability {
    padding:0 0 0 5px;
}
.section_title {
    font-weight:bold;
}
.subsection_availability {
    padding:0 0 0 5px;
}


/* Forms */

#unavailability_sameday {
    cursor:pointer;
    font-style:italic;
}