/* Children Rides and Decoration */
#id_children_rides_input, #id_decoration_input {
	width:90%;
	float:left;
}
.add_button {
	cursor:pointer;
	background-color:#50a7bc;
	width:10%;
	transition: 0.3s;
}
.add_button:hover {
	background-color:#021b5e; 
}
.add_container {
	background-color:white;
	border:1px solid #f2f2f2;
	padding:5px 0 5px 0;
	min-height:80px;
	box-shadow: inset 0px 1px 0.5px rgba(0, 0, 0, 0.15);
}
.add_option {
	padding:5px;
	height:40px;

	color:#51a7bc;
	font-weight:bold;
	position:relative;
	width:100%;
	cursor:pointer;

}
.x_option_add {
	font-size:10px;
	padding:2px 5px 2px 5px;
	position:absolute;
	top:5px;
	right: 5px;
}







/* Upload multiple files */
.js-upload-photos {
	background-color:#51a7bc; 
	color:white; 
	float:right;
	transition: 0.3s;
}
.js-upload-photos:hover {
	background-color:#021b5e; 
}
#upload_frame {
	width:100%;
	text-align:center;
	color:#c8c8c8;
	font-size:20px;
	float:none;
	background-color:white;
	cursor:pointer;
	left: 50%;
	transform: translateX(-50%);

}
#upload_frame:hover {
	background-color:#51a7bc;
	color:white; 
}
#gallery {
	border:1px solid #f2f2f2 !important;
}
@media(max-width:545px){
	#gallery {
		text-align:center;
	}
}
.img_gallery {
	width:140px;
	margin:0;
	display:inline-block;
	cursor:pointer;
}
.upload_image {
	width:auto;
	display:inline-block;
	padding:10px;
	position:relative;
}
.upload_image:hover .x_option_upload {
	display:block;
}
.x_option_upload {
	position:absolute;
	top:2px;
	right:2px;
	display:none;
	padding:2px 6px 2px 6px;
	border-radius:0;
}