<div style="max-width:800px; text-align:center;margin: auto;">	

<div style="width:100%">
	<div style="width:100%; text-align:center">
		<img src="http://123festas.com/static/img/emails/layout-e-mail-cliente-confirmacao-de-cadastro_01.jpg" style="width:100%;height: auto; margin: 0 auto;"/>
		<hr style="width:100%; border-top: 4px solid #001e62;"/>
	</div>
	<div style="max-width:80%; margin:auto; width:100%; font-family: 'Arial', sans-serif; color:#383838; font-size:27px; text-align:center">
		<br>
		<div style="width:100%;  text-align:center">
		<h2><b>Olá, <span style="font-weight:bold">{{user_name}}</span>.</h2></b><br>
		Seu endereço de email foi confirmado com sucesso!<br><br>
		Falta pouco para começar sua festa, clique no link abaixo para confirmar sua conta:<br><br>

		<div style="width:100%; text-align:center">
			<a style="background-color:#7fbd2f; display:inline-block; color:white; padding:10px 30px; cursor:pointer; border-color:transparent; font-size:20px; text-decoration:none" href="http://www.123festas.com/usuario/confirmar-email/?user={{user_pk}}&token={{token}}{% if is_seller == True %}&seller=true{% endif %}">

				CONFIRME SEU E-MAIL

			</a>
		</div><br>
		<br>

		Obrigado e boas Festa!<br><br>
		Equipe 123festas
	</div><br><br>
</div>

<div style="width:100%; text-align:center">
		<img src="http://123festas.com/static/img/emails/layout-e-mail-cliente-recebimento-mensagem_03.gif" style="width:100%;height: auto; margin: 0 auto;"/>
</div>

<div style="width:100% ">
	<div style="width:50%; float: left;">
	<img src="http://123festas.com/static/img/emails/layout-e-mail-cliente-recebimento-mensagem_04.gif" style="width:100%;height: auto; margin: 0 auto;"/>
	</div>
	<div style="width:50%; float: right;font-family: 'Arial', sans-serif; color:#383838; font-size:27px;  margin-top:5%">
	A equipe 123festas está sempre à disposição para te ajudar a realizar a festa dos seus sonhos! Fale conosco através do email:<br>
	<b>contato@123festas.com.br</b>
	</div>
</div>
<div style="width:100%; text-align:center">
	<img src="http://123festas.com/static/img/emails/layout-e-mail-cliente-recebimento-mensagem_06.jpg" style="width:100%;height: auto; margin: 0 auto;"/>

</div>

</div>