.review_container {
	width:100%;
	max-width:600px;
	border:1px solid #f2f2f2;
	text-align:left;
	display:inline-block;
	padding:5px
}


.review_text_bold {
	font-weight:bold
}
.see_more_reviews {
	cursor:pointer;
}
.more_rating {
	display:none;
}