.review_container {
	width:100%;
	max-width:600px;
	border:1px solid #f2f2f2;
	text-align:left;
	display:inline-block;
	padding:5px
}
.buyerprofile_photo {
	width:80px;
	height:80px;
	border-radius:50%;
	margin-top:10px
}

@media(max-width: 496px){
	.buyerprofile_photo {
		width:50px;
		height:50px;
	}
}

.review_text_bold {
	font-weight:bold
}
.see_more_reviews {
	cursor:pointer;
}
.more_rating {
	display:none;
}