.separador-1{
	white-space:pre; line-height:1px
}
.separador-2{
	white-space:pre; line-height:2px
}
.separador-3{
	white-space:pre; line-height:3px
}
.separador-4{
	white-space:pre; line-height:4px
}
.separador-5{
	white-space:pre; line-height:5px
}
.separador-6{
	white-space:pre; line-height:5px
}
.separador-7{
	white-space:pre; line-height:5px
}
.separador-8{
	white-space:pre; line-height:5px
}
.separador-9{
	white-space:pre; line-height:5px
}
.separador-10{
	white-space:pre; line-height:10px
}
.separador-15{
	white-space:pre; line-height:15px
}
.separador-20{
	white-space:pre; line-height:20px
}
.separador-25{
	white-space:pre; line-height:25px
}
.separador-30{
	white-space:pre; line-height:30px
}
.separador-35{
	white-space:pre; line-height:35px
}
.separador-40{
	white-space:pre; line-height:40px
}
.separador-45{
	white-space:pre; line-height:45px
}
.separador-50{
	white-space:pre; line-height:50px
}
.separador-55{
	white-space:pre; line-height:55px
}
.separador-60{
	white-space:pre; line-height:60px
}
.separador-65{
	white-space:pre; line-height:65px
}
.separador-70{
	white-space:pre; line-height:70px
}
.separador-75{
	white-space:pre; line-height:75px
}
.separador-80{
	white-space:pre; line-height:80px
}
.separador-85{
	white-space:pre; line-height:85px
}
.separador-90{
	white-space:pre; line-height:90px
}
.separador-95{
	white-space:pre; line-height:95px
}
.separador-100{
	white-space:pre; line-height:100px
}
.separador-105{
	white-space:pre; line-height:105px
}
.separador-110{
	white-space:pre; line-height:110px
}
.separador-115{
	white-space:pre; line-height:115px
}
.separador-120{
	white-space:pre; line-height:120px
}
.separador-125{
	white-space:pre; line-height:125px
}
.separador-130{
	white-space:pre; line-height:130px
}
.separador-135{
	white-space:pre; line-height:135px
}
.separador-140{
	white-space:pre; line-height:140px
}
.separador-145{
	white-space:pre; line-height:145px
}
.separador-150{
	white-space:pre; line-height:150px
}
.separador-155{
	white-space:pre; line-height:155px
}
.separador-160{
	white-space:pre; line-height:160px
}
.separador-165{
	white-space:pre; line-height:165px
}
.separador-170{
	white-space:pre; line-height:170px
}
.separador-175{
	white-space:pre; line-height:175px
}
.separador-180{
	white-space:pre; line-height:180px
}
.separador-185{
	white-space:pre; line-height:185px
}
.separador-190{
	white-space:pre; line-height:190px
}
.separador-195{
	white-space:pre; line-height:195px
}
.separador-200{
	white-space:pre; line-height:200px
}





























