{% load static %}

<!DOCTYPE html>

<html lang="en-US">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- =====================================================
CSS imports
===================================================== -->  
  <link href="/static/base_template_user/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/base_template_user/assets/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/bootstrap-select.min.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/owl.carousel.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/jquery.nouislider.min.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/colors/_custom.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/user.style.css" type="text/css">
  <link rel="stylesheet" href="/static/CUSTOM_CSS/core/separadores.css" type="text/css">
  <link rel="stylesheet" href="/static/CUSTOM_CSS/core/main.css" type="text/css">
  <link rel="stylesheet" href="/static/CUSTOM_CSS/core/_base_user.css" type="text/css">
  <link rel="stylesheet" href="/static/CUSTOM_CSS/icheck/purple.css" type="text/css">
  <link rel="shortcut icon" href="/static/img/123festas/favicon.png"/>
  <title>123Festas | {% block page_title %}Buffets{% endblock page_title %}</title>
</head>





<!-- =====================================================
Body code
===================================================== -->
<body onunload="" class="map-fullscreen page-homepage navigation-off-canvas" id="page-top">
<!-- Outer Wrapper-->
<div id="outer-wrapper">
  <!-- Inner Wrapper -->
  <div id="inner-wrapper">
    <!-- ========================================================================================================================== -->

    <!--                                                           HEADER                                                           -->

    <!-- ========================================================================================================================== -->
    <div class="header" style="border-bottom:1px solid #d0c5d6; background-color:white;">
      <div class="wrapper">
        <div class="brand">
          <a href="/home/"><img src="/static/img/123festas/logo_horizontal.png" style="width:170px; margin:2px 0 10px 40px" alt="logo"></a>
        </div>
        <nav class="navigation-items">
          <div class="wrapper" style="padding-top:15px">
            <ul class="main-navigation navigation-top-header"></ul>
            <ul class="user-area">
              {% if user.is_superuser %}
                <li><a href="/administrador/home/">Administrador</a></li>
              {% endif %}
              {% if user.is_authenticated %}
                <li><a {% if basemenu == "aboutus" %}class="menu_selected"{% endif %} href="/sobre-nos/">Sobre Nós</a></li>
                {% if buyer %}
                  <li><a {% if basemenu == "listbought" %}class="menu_selected"{% endif %} href="/usuario/buffets-agendados/">Minhas Reservas</a></li>
                {% endif %}
                <li><a {% if basemenu == "myaccount" %}class="menu_selected"{% endif %} href="/usuario/{% if user_type == "seller" %}anunciante/{% endif %}conta/">Minha Conta</a></li>
                <li><a href="/logout/">Logout</a></li>
                {% else %}
                <li><a {% if basemenu == "login" %}class="menu_selected"{% endif %} href="/login/">Login</a></li>
                <li><a {% if basemenu == "register" %}class="menu_selected"{% endif %} href="/usuario/cadastrar/"><strong>Cadastrar</strong></a></li>
              {% endif %}
            </ul>
            <div class="toggle-navigation">
              <div class="icon">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>





    <!-- ========================================================================================================================== -->

    <!--                                                           CONTENT                                                          -->

    <!-- ========================================================================================================================== -->
    <nav class="off-canvas-navigation" style="position:fixed !important; height:100vh">
      <header style="border-bottom:none;">

              {% if user.is_superuser %}
                <a style="color:white" href="/administrador/home/">Administrador</a><br>
              {% endif %}
              {% if user.is_authenticated %}
                <a style="color:white" {% if basemenu == "aboutus" %}class="menu_selected"{% endif %} href="/sobre-nos/">Sobre Nós</a><br>
                {% if buyer %}
                  <a style="color:white" {% if basemenu == "listbought" %}class="menu_selected"{% endif %} href="/usuario/buffets-agendados/">Minhas Reservas</a><br>
                {% endif %}
                {% else %}
                <a style="color:white" {% if basemenu == "login" %}class="menu_selected"{% endif %} href="/login/">Login</a><br>
                <a style="color:white" {% if basemenu == "register" %}class="menu_selected"{% endif %} href="/usuario/cadastrar/"><strong>Cadastrar</strong></a><br>
              {% endif %}



              <div style="bottom:0; position:absolute">
                {% if user.is_authenticated %}
                  <a style="color:white" {% if basemenu == "myaccount" %}class="menu_selected"{% endif %} href="/usuario/{% if user_type == "seller" %}anunciante/{% endif %}conta/">Minha Conta</a><br>
                  <a style="color:white" href="/logout/">Logout</a><br>
                {% endif %}
              </div>

      </header>


    </nav>
    <div id="page-content" style="background-color:white">
      {% block content %}{% endblock content %}
    </div>
























    <!-- ========================================================================================================================== -->

    <!--                                                           FOOTER                                                           -->

    <!-- ========================================================================================================================== -->
    <footer id="footer_id">
      <div class="inner">
        <div class="separador-30"> </div>
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                Deseja receber ofertas exclusivas?<br>
                Assine a nossa newsletter!
              </div>
              <div class="col-md-8 col-sm-8">
               <div id ="base_newsletter_input_container">
                <input type="text" id="base_newsletter_input" class="form_input_text">
               </div>
               <div id="base_newsletter_send_container">
                <div id="base_newsletter_send">
                  <span id="base_newsletter_send_span">
                    INSCREVA-SE!
                  </span>
                </div>
               </div>
              </div>
            </div>
            <div class="separador-30"> </div>
            <div class="row">
              <div class="col-xs-6">
                  <a style="color:white" href="#">Sobre Nós</a><br>
                  <a style="color:white" href="#">Fale Conosco</a><br>
                  <a style="color:white" href="#">FAQ</a><br>
                  <a style="color:white" href="#">Cadastre seu Buffet</a><br>
                  <a style="color:white" href="#">Mapa</a><br>
              </div>
              <div class="col-xs-6">
                <div id="base_social_wrapper">
                  Acesse nossas redes sociais<br>
                  <div style="display: table; float:right">
                    <div class="base_social_button_wrapper">
                      <div class="base_social_inside"><a href="#" class="base_social_button" style="top:-2px;right:7px"><i class="fa fa-twitter"></i></a></div>
                    </div><!--
                    --><div class="base_social_button_wrapper">
                      <div class="base_social_inside"><a href="#" class="base_social_button" style="top:0px;right:13px"><i class="fa fa-facebook"></i></a></div>
                    </div><!--
                    --><div class="base_social_button_wrapper">
                      <div class="base_social_inside"><a href="#" class="base_social_button" style="top:-1px;right:8px"><i class="fa fa-pinterest"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="separador-30"> </div>
        <div class="footer_bottom">
          <div class="separador-30"> </div>
          <div class="container">
            <img src="/static/img/123festas/logo_horizontal_branco.png" style="height:40px"/><br>
            <div class="separador-10"> </div>
            <span style="font-size:11px">Direitos autorais 2018 123Festas | Todos os direitos reservados.</span>
            </span>
          </div>
          <div class="separador-30"> </div>
        </div>
      </div>
    </footer>
  </div>
</div>
<!-- end Outer Wrapper-->






















<!-- =====================================================
JavaScript imports
===================================================== -->
{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
{% block js_maps %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgsG2vhClFly8kadgTOHCX4wucOwgTiuw&libraries=places&callback=initAutocomplete&language=pt" defer></script>
    <script type="text/javascript" src="/static/base_template_user/assets/js/maps.js"></script>
{% endblock js_maps %}
<script type="text/javascript" src="/static/base_template_user/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/base_template_user/assets/js/icheck.min.js"></script>
<script type="text/javascript" src="/static/base_template_user/assets/js/before.load.js"></script>
{% block js_select_customize %}
  <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-migrate-1.2.1.min.js"></script>
{% endblock js_select_customize %}
<script type="text/javascript" src="/static/base_template_user/assets/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/base_template_user/assets/js/smoothscroll.js"></script>
<script type="text/javascript" src="/static/base_template_user/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/base_template_user/assets/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/static/base_template_user/assets/js/jquery.nouislider.all.min.js"></script>
{% block old_custom_js %}
<script type="text/javascript" src="/static/base_template_user/assets/js/custom.js"></script>
<script>
    $(window).load(function(){
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });

    autoComplete();
    $(document).ready(function(){
      $('input').iCheck({
        checkboxClass: 'icheckbox_square-purple',
        radioClass: 'iradio_square-purple',
        increaseArea: '10%' // optional
      });
    });
</script>
{% endblock old_custom_js %}
{% block page_js %}{% endblock page_js %}
    <script type="text/javascript" src="/static/CUSTOM_JS/place/place_list.js"></script>

</body>
</html>