{% load static %}

<!DOCTYPE html>

<html lang="en-US">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="-wtbN-yO9twqWghzGGBoaUuUuZa28o1Qeno33U-yVKg" />

<!-- =====================================================
CSS imports
===================================================== -->  
  <link href="/static/base_template_user/assets/fonts/font-awesome.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/base_template_user/assets/bootstrap/css/bootstrap.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/bootstrap-select.min.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/owl.carousel.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/jquery.nouislider.min.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/colors/_custom.css" type="text/css">
  <link rel="stylesheet" href="/static/base_template_user/assets/css/user.style.css" type="text/css">
  <link rel="stylesheet" href="/static/CUSTOM_CSS/core/separadores.css" type="text/css">
  <link rel="stylesheet" href="/static/CUSTOM_CSS/core/main.css" type="text/css">
  <link rel="stylesheet" href="/static/CUSTOM_CSS/core/_base_user.css" type="text/css">
  <link rel="shortcut icon" href="/static/img/123festas/favicon.png"/>
  <title>123Festas | {% block page_title %}Buffets{% endblock page_title %}</title>
<style>
html {overflow: hidden; overflow-y: auto;}
</style>

</head>


{% block place_maps %}

<!-- =====================================================
Body code
===================================================== -->

<body onunload="" class="map-fullscreen page-homepage navigation-off-canvas" id="page-top" style="position:relative">
<div id="black_layer">
</div>
<!-- Outer Wrapper-->
<div id="outer-wrapper" style="">
  <!-- Inner Wrapper -->
  <div id="inner-wrapper" style="">
    <!-- ========================================================================================================================== -->

    <!--                                                           HEADER                                                           -->

    <!-- ========================================================================================================================== -->
    {% include "_header.html" %}





    <!-- ========================================================================================================================== -->

    <!--                                                           CONTENT                                                          -->

    <!-- ========================================================================================================================== -->
    <nav class="off-canvas-navigation" style="position:fixed !important; height:100vh">
      <header style="border-bottom:none;">
              <!-- ============== -->
              <!-- COPY OF HEADER -->
              <!-- ============== -->
              {% if user.is_superuser %}
                <a style="color:white" href="/administrador/home/">Administrador</a><br>
              {% endif %}
              <a style="color:white" {% if basemenu == "aboutus" %}class="menu_selected"{% endif %} href="/sobre-nos/">Sobre Nós</a><br>
              {% if user.is_authenticated %}
                {% if buyer %}
                  <a style="color:white" {% if basemenu == "listbought" %}class="menu_selected"{% endif %} href="/usuario/buffets-agendados/">Minhas Reservas</a><br>
                {% endif %}
                {% else %}
                <a style="color:white" {% if basemenu == "login" %}class="menu_selected"{% endif %} href="/login/">Login</a><br>
                <a style="color:white" {% if basemenu == "register" %}class="menu_selected"{% endif %} href="/usuario/cadastrar/"><strong>Cadastrar</strong></a><br>
              {% endif %}



              <div style="bottom:0; position:absolute">
                {% if user.is_authenticated %}
                  <a style="color:white" {% if basemenu == "myaccount" %}class="menu_selected"{% endif %} href="/usuario/{% if user_type == "seller" %}anunciante/{% endif %}conta/">Minha Conta</a><br>
                  <a style="color:white" href="/logout/">Logout</a><br>
                {% endif %}
              </div>

      </header>


    </nav>
    <div id="page-content" style="background-color:white">
      {% block content %}{% endblock content %}
    </div>
























    <!-- ========================================================================================================================== -->

    <!--                                                           FOOTER                                                           -->

    <!-- ========================================================================================================================== -->
    {% include "_footer.html" %}

  </div>
</div>
<!-- end Outer Wrapper-->






















<!-- =====================================================
JavaScript imports
===================================================== -->
{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
{% block js_maps %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgsG2vhClFly8kadgTOHCX4wucOwgTiuw&libraries=places&callback=initAutocomplete&language=pt" defer></script>
    <script type="text/javascript" src="/static/base_template_user/assets/js/maps.js"></script>
{% endblock js_maps %}
<script type="text/javascript" src="/static/base_template_user/assets/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="/static/base_template_user/assets/js/before.load.js"></script>
{% block js_select_customize %}
  <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-migrate-1.2.1.min.js"></script>
{% endblock js_select_customize %}
<script type="text/javascript" src="/static/base_template_user/assets/bootstrap/js/bootstrap.min.js"></script>
{# <script type="text/javascript" src="/static/base_template_user/assets/js/smoothscroll.js"></script> #}
<script type="text/javascript" src="/static/base_template_user/assets/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/static/base_template_user/assets/js/jquery.hotkeys.js"></script>
<script type="text/javascript" src="/static/base_template_user/assets/js/jquery.nouislider.all.min.js"></script>
<script type="text/javascript" src="/static/CUSTOM_JS/core/general.js"></script>
{% block old_custom_js %}
<script type="text/javascript" src="/static/base_template_user/assets/js/custom.js"></script>
<script>
    $(window).load(function(){
        var rtl = false; // Use RTL
        initializeOwl(rtl);
    });

    autoComplete();
</script>
{% endblock old_custom_js %}
{% block page_js %}{% endblock page_js %}
    <script type="text/javascript" src="/static/CUSTOM_JS/place/place_list.js"></script>

</body>
{% endblock place_maps %}
</html>