{% load general_tags %}
<style>
h3 {
  margin:0;
}

.feature_item {
  cursor:pointer;
}

.two_line_truncation {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
}

.feature_review_none {
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  font-size:11px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style:italic;
  line-height: 1.1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

</style>

<section id="featured" class="block equal-height">
  <header style="border-bottom:none">
    <h2><span style="border-bottom:2px solid #94d600;">Buffets em Destaque</span></h2>
  </header>
  {% for place in feature_list %}
    <div class="item list feature_item" style="border: 1px solid #f9f9f9">
      <div class="image" style="padding:0 !important; width:150px;">
        <div class="quick-view" style="width:30px; padding-left:5px" onclick="javascript:location.href='/buffet/detalhar/?pk={{place.pk}}'">
          <i class="fa fa-eye"></i>


        </div>


        <a href="/buffet/detalhar/?pk={{place.pk}}" style="line-height:0">
          <div class="center-cropped img-center" style="background-image: url(/media/{{place.photo}}); height:120px; width:100%" alt=""></div>
        </a>
      </div>
      <div class="wrapper" style="vertical-align:top; padding:10px">
        <div class="two_line_truncation">
          <a href="/buffet/detalhar/?pk={{place.pk}}">
            <h3>{{place.name}}</h3>
          </a>
        </div>
        <div class="separador-3"> </div>
        <div class="two_line_truncation">
          <figure>{{place.address}}</figure>
        </div>
        <div class="separador-10"> </div>
        <figure>
          {% if place.review_list.review_rates.rate_average %}
            <span style="color:black" class="stars" data-rating="{{place.review_list.review_rates.rate_average}}" data-num-stars="5"></span> &nbsp;({{place.review_list.review_rates.rate_average}})
          {% else %}
            <div class="feature_review_none">Aguardando Primeira Avaliação!</div>
          {% endif %}
        </figure>
      </div>
    </div>
  {% endfor %}

  <div class="background opacity-5">
    <img src="/static/base_template_user/assets/img/restaurants-bg2.jpg" alt="">
  </div>
</section>

<script>

  $(document).on("click", ".feature_item", function(){
    var pk = $(this).attr("pk")
    window.location.href = "/buffet/detalhar/?pk=" + pk;
  })


</script>