    <footer id="footer_id">
      <div class="inner">
        <div class="footer-top" style="background-color:#41b3bd !important; padding:2%">
          <div class="container">
            <div class="row">
              <div style:=font-size:10px" class="col-md-4 col-sm-4">
                <b>Deseja receber ofertas exclusivas?<br>
                Assine a nossa newsletter!</b>
              </div>
              <div class="col-md-8 col-sm-8">
               <div id ="base_newsletter_input_container">
                <input type="text" id="base_newsletter_input" class="form_input_text" placeholder="Digite seu e-mail...">
               </div>
               <div id="base_newsletter_send_container">
                <div id="base_newsletter_send" style:colo>
                  <span id="base_newsletter_send_span">
                    INSCREVA-SE!
                  </span>
                </div>
               </div>
              </div>
            </div>
          </div>
        </div>
        <div class="separador-20"> </div>
            <div class="row  justify-content-center align-self-center" style="text-align:center; vertical-align: middle;">
              <div class="col-xs-6 ">
                  <div class="col-xs-3 ">
                  <b><a style="color:black; padding-top:70%" href="/usuario/sobre-nos">Sobre Nós</b>
                  </div>
                  <div class="col-xs-3 ">
                  <b><a style="color:black" href="/usuario/fale-conosco">Fale Conosco</a></b>
                  </div>
                  <div class="col-xs-3 ">
                 <b><a style="color:black" href="/usuario/faq">FAQ</a></b>
                 </div>
              </div>
              <div class="col-xs-6 pull-right">
                  <div style="display: table; float:right">
                    <div class="base_social_button_wrapper">
                      <div class="base_social_inside"><a href="#" class="base_social_button" style="top:-2px;right:14px"><i class="fa fa-facebook"></i></a></div>
                    </div><!--
                    --><div class="base_social_button_wrapper">
                      <div class="base_social_inside"><a href="#" class="base_social_button" style="top:-3px;right:8px"><i class="fa fa-instagram"></i></a></div>
                    </div><!--
                    --><div class="base_social_button_wrapper">
                      <div class="base_social_inside"><a href="#" class="base_social_button" style="top:-2px;right:7px"><i class="fa fa-twitter"></i></a></div>
                    </div>
                  </div>
              </div>
            </div>
            <div class="separador-10"> </div>
            <div style="width: 100%; height: 11px; border-top: 1px solid black; text-align: center">
        </div>
        <div class="separador-30"> </div>
        <div class="footer_bottom">
          <div class="container">
            <span style="font-size:11px; color:black">Direitos autorais 2019 123Festas | Todos os direitos reservados.</span>
            </span>
          </div>
       <div class="separador-30"> </div>

        </div>
      </div>
    </footer>