    <footer id="footer_id">
      <div class="inner">
        <div class="separador-30"> </div>
        <div class="footer-top">
          <div class="container">
            <div class="row">
              <div class="col-md-4 col-sm-4">
                Deseja receber ofertas exclusivas?<br>
                Assine a nossa newsletter!
              </div>
              <div class="col-md-8 col-sm-8">
               <div id ="base_newsletter_input_container">
                <input type="text" id="base_newsletter_input" class="form_input_text" placeholder="Digite seu e-mail...">
               </div>
               <div id="base_newsletter_send_container">
                <div id="base_newsletter_send">
                  <span id="base_newsletter_send_span">
                    INSCREVA-SE!
                  </span>
                </div>
               </div>
              </div>
            </div>
            <div class="separador-30"> </div>
            <div class="row">
              <div class="col-xs-6">
                  <a style="color:white" href="/usuario/sobre-nos">Sobre Nós</a><br>
                  <a style="color:white" href="/usuario/fale-conosco">Fale Conosco</a><br>
                  <a style="color:white" href="/buffet/mapa/">Mapa</a><br>
                  <a style="color:white" href="/usuario/faq">FAQ</a><br>
                   <a style="color:white">contato@123festas.com</a><br><br>
              </div>
              <div class="col-xs-6">
                <div id="base_social_wrapper">
                  Acesse nossas redes sociais<br>
                  <div style="display: table; float:right">
                    <div class="base_social_button_wrapper">
                      <div class="base_social_inside"><a href="#" class="base_social_button" style="top:-2px;right:14px"><i class="fa fa-facebook"></i></a></div>
                    </div><!--
                    --><div class="base_social_button_wrapper">
                      <div class="base_social_inside"><a href="#" class="base_social_button" style="top:-3px;right:8px"><i class="fa fa-instagram"></i></a></div>
                    </div><!--
                    --><div class="base_social_button_wrapper">
                      <div class="base_social_inside"><a href="#" class="base_social_button" style="top:-2px;right:7px"><i class="fa fa-twitter"></i></a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="separador-30"> </div>
        <div class="footer_bottom">
          <div class="separador-30"> </div>
          <div class="container">
            <img src="/static/img/123festas/logo_horizontal_branco.png" style="height:80px"/><br>
            <div class="separador-10"> </div>
            <span style="font-size:11px">CNPJ 33.256.582/0001-20</span>
            <div class="separador-10"> </div>
            <span style="font-size:11px">Direitos autorais 2019 123Festas | Todos os direitos reservados.</span>
            </span>
          </div>
          <div class="separador-30"> </div>
        </div>
      </div>
    </footer>