{% load general_tags %}
{% load i18n %}
<!-- ========================================================================================= -->
<!--                                                                                           -->
<!--                                         CSS                                               -->
<!--                                                                                           -->
<!-- ========================================================================================= -->
<style>
  * {box-sizing: border-box;}
  ul {list-style-type: none;}
  body {font-family: Verdana, sans-serif; margin:0;}
  .calendar_wrapper {
    position:relative;
    display:none;
  }
  .month {
      padding: 5px 4px 5px 4px;
      width: 100%;
      background: transparent;
      text-align: center;
  }

  .month ul {
      margin: 0;
      padding: 0;
  }

  .month ul li {
      color:#484848;
      font-size: 13px;
      text-transform: capitalize;
      letter-spacing: 3px;
  }

  .month .prev {
      float: left;
      padding-top: 0px;
  }

  .month .next {
      float: right;
      padding-top: 0px;
  }
  .next a, .prev a {
    color: 484848;
    text-decoration:none;
  }
  .weekdays {
      margin: 0;
      padding: 2px 0;
      background-color: white;
  }

  .weekdays li {
      display: inline-block;
      width: 14.28%;
      font-size:11px;
      color: #666;
      text-align: center;
  }

  .days {
      padding: 5px 0;
      background: white;
      margin: 0;
      text-align:left;
  }

  .days li {
      list-style-type: none;
      display: inline-block;
      width: 14.28%;
      text-align: center;
      margin-bottom: 3px;
      font-size:12px;
      color: #777;
  }

  .days li .active {
      padding: 5px;
      background: #4fa7bc;
      color: white !important
  }
  .calendar_class_day {
    cursor:pointer;
  }
  .pass {
    text-decoration: line-through

  }
  .occupied {
    background-color:#dddddd;
    padding:5px;
    color:#eeeeee;
    cursor:pointer;
  }
  .move {
    cursor:pointer;
  }






  /* Day Description */
  .day_description {
    /* positioning */
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%); 
    margin: 0;
    display:none;
    /* customize */
    width:70%;
    max-width:200px;
    height:70%;
    max-height:200px;
    box-shadow:1px 1px 1px 1px #888888;
    overflow-y:auto;
    background-color:white;
    padding:2px 5px 5px 5px;
  }
  #day_description_date {
    color:#4fa7bc;
    font-weight:bold;
  }
  .day_description_unavailability {
    font-weight:bold;
  }
</style>
















<!-- ========================================================================================= -->
<!--                                                                                           -->
<!--                                         Body                                              -->
<!--                                                                                           -->
<!-- ========================================================================================= -->
<div class="calendar_wrapper">
  <div class="month">      
    <ul>
      <li class="prev"><a class="move" value-count="0" count="-1">&#10094;</a></li>
      <li class="next"><a class="move" value-count="0" count="1">&#10095;</a></li>
      <li class="calendar_class">
        <span class="calendar_class" id="month_ajax"></span> - <span class="calendar_class" id="year_ajax"></span>
      </li>
    </ul>
  </div>

  <ul class="weekdays">
    <li class="calendar_class">Seg</li><!--
    --><li class="calendar_class">Ter</li><!--
    --><li class="calendar_class">Qua</li><!--
    --><li class="calendar_class">Qui</li><!--
    --><li class="calendar_class">Sex</li><!--
    --><li class="calendar_class">Sab</li><!--
    --><li class="calendar_class">Dom</li>
  </ul>

  <ul class="days" id="days_ajax">  
  </ul>
</div>





























<!-- ========================================================================================= -->
<!--                                                                                           -->
<!--                                         JQuery                                            -->
<!--                                                                                           -->
<!-- ========================================================================================= -->
{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
<script type="text/javascript" src="/static/CUSTOM_JS/core/general.js"></script>
<script>
  // Load Calendar
  $(document).ready(function(){
    $.ajax({
      url: "/usuario/ajax/calendario-input/",
      dataType: 'json',
      data: {
        "pk": "{{place_pk}}"
      },
      success: function (data) {
        $("#month_ajax").html(data["month"])
        $("#month_ajax").attr("datemonth", data["month_int"])
        $("#year_ajax").html(data["year"])
        str_days = ""
        for(i=0;i<data["list_month"].length;i++){
          str_days += data["list_month"][i]
        }
        $("#days_ajax").html(str_days)
      }
    })

  })

  // Changing months
  $(".move").click(function(){
    var elem = $(this)
    var months = parseInt($(this).attr("value-count")) + parseInt($(this).attr("count"))
    $(".move").attr("value-count", months)

    // Animation
    if($(this).attr("count") == -1) {
      if ($('.calendar_wrapper').is(':hidden')) {
        $('.calendar_wrapper').show('slide',{direction:'left'},500);
      } else {
        $('.calendar_wrapper').hide('slide',{direction:'right'},500);
      }
    } else {
      if ($('.calendar_wrapper').is(':hidden')) {
        $('.calendar_wrapper').show('slide',{direction:'right'},500);
      } else {
        $('.calendar_wrapper').hide('slide',{direction:'left'},500);
      }
    }

    $.ajax({
      url: "/usuario/ajax/calendario-input/",
      dataType: 'json',
      data: {
        "pk": "{{place_pk}}",
        "meses":months
      },
      success: function (data) {
        $("#month_ajax").html(data["month"])
        $("#month_ajax").attr("datemonth", data["month_int"])
        $("#year_ajax").html(data["year"])
        str_days = ""
        for(i=0;i<data["list_month"].length;i++){
          str_days += data["list_month"][i]
        }
        $("#days_ajax").html(str_days)

        // Animation
        if(elem.attr("count") == -1) {
          $(".calendar_wrapper").show("slide", { direction: "left" }, 500);
        } else {
          $(".calendar_wrapper").show("slide", { direction: "right" }, 500);
        }

      }
    })
  })


  // Hide or Show Calendar
  $(document).click(function(event){
    var class_clicked = $(event.target).attr('class')
    var display_style = $(".calendar_wrapper").css("display")
    if(class_clicked != undefined) {
      if(class_clicked!="move" && class_clicked!="move" && class_clicked!="month" && class_clicked!="weekdays" && class_clicked!="days" && class_clicked!="pass" && class_clicked!="active" && class_clicked!="calendar_class" && class_clicked!="calendar_class_day"){
        if(class_clicked.indexOf("calendar_input")>=0){
          if(display_style!="block") {
            $(".calendar_wrapper").slideToggle()
          }
        } else if(display_style=="block") {
          $(".calendar_wrapper").slideToggle()
        }
      }
    } else if(display_style=="block") {
          $(".calendar_wrapper").slideToggle()
    }
  })

  $(document).on("click", ".calendar_class_day", function(){
    var today_day = $(this).children(1).html()
    if(today_day==undefined) {
      today_day = $(this).html()
    }
    today_day = String(today_day)

    var today_month = String($("#month_ajax").attr("datemonth"))
    if(today_month.length==1) {
      today_month = "0" + today_month
    }
    var today_year = String($("#year_ajax").html())
    $(".calendar_input").val(today_day + " / " + today_month + " / " + today_year)
  })
</script>
