{% load general_tags %}
{% load i18n %}
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/radio_checkbox.css" type="text/css">
<link rel="stylesheet" href="/static/slider/nouislider.min.css" type="text/css">
<style>
  * {box-sizing: border-box;}
  ul {list-style-type: none;}
  body {font-family: Verdana, sans-serif; margin:0;}





  /* =========================
  BuyingFlux Inputs
  ========================= */
  .buyingflux_form_title {
    font-size:16px;
  }
  .buyingflux_period_label_container {
    display:inline-block;
    padding-top:6px;
    vertical-align:top;

  }
  .buyingflux_period_label {
    display:inline;
    color:#747474;
    font-weight:normal;
  }



  /* =========================
  Calendar
  ========================= */
  .calendar_wrapper {
    position:relative;
    display:none;
  }
  #month_ajax, #year_ajax {
    color:white;
  }
  .month {
      padding: 5px 4px 5px 4px;
      width: 100%;
      background: #4fa7bc;
      color:white;
      text-align: center;
  }

  .month ul {
      margin: 0;
      padding: 0;
  }

  .month ul li {
      color:#484848;
      font-size: 13px;
      text-transform: capitalize;
      letter-spacing: 3px;
  }

  .month .prev {
      float: left;
      padding-top: 10px;
  }

  .month .next {
      float: right;
      padding-top: 10px;
  }
  .next a, .prev a {
    color: 484848;
    text-decoration:none;
  }
  .weekdays {
      margin: 0;
      padding: 10px 0;
      background-color: white;
  }

  .weekdays li {
      display: inline-block;
      width: 14.28%;
      font-size:11px;
      color: #666;
      text-align: center;
  }

  .days {
      padding: 10px 0;
      background: white;
      margin: 0;
  }

  .days li {
      list-style-type: none;
      display: inline-block;
      width: 14.28%;
      text-align: center;
      margin-bottom: 8px;
      font-size:12px;
      color: #777;
  }

  .days li .active {
      background: #4fa7bc;
      color: white !important
  }
  .calendar_class_day span {
    padding:5px;
  }
  .day_select {
    cursor:pointer;
  }
  .pass {
    text-decoration: line-through

  }
  .occupied {
    background-color:#dddddd;
    color:#eeeeee;
    cursor:pointer;
  }
  .occupied, .occupied_min {
    cursor:default !important;
  }
  .occupied_min {
    background-color:#b6de57;
    padding:5px;
    color:#eeeeee;
    cursor:pointer;
  }
  .occupied_max {
    background-color:#85c3d2;
    padding:5px;
    color:#eeeeee;
    cursor:pointer;
  }

  .move {
    cursor:pointer;
    color:white;
  }






  /* Day Description */
  .day_description {
    /* positioning */
    position: absolute;
    left: 50%; 
    top: 50%;
    transform: translate(-50%, -50%); 
    margin: 0;
    display:none;
    /* customize */
    width:70%;
    max-width:200px;
    height:70%;
    max-height:200px;
    box-shadow:1px 1px 1px 1px #888888;
    overflow-y:auto;
    background-color:white;
    padding:2px 5px 5px 5px;
  }
  #day_description_date {
    color:#4fa7bc;
    font-weight:bold;
  }
  .day_description_unavailability {
    font-weight:bold;
  }






  /* =========================
  Form Button
  ========================= */
  #check_availability {
    background-color:#98d000;
    padding:10px;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:12px;
    border-radius:10px;
    cursor:pointer;
    float:right;
  }
  .check_availability_disabled {
    background-color:#dddddd !important;
    color:#ffffff !important;
    cursor:default !important;
  }









</style>
<span class="buyingflux_form_title">Horário da Festa</span>
<div class="separador-10"> </div>
<label class="container_checkbox" style="display:inline;">
  <input type="checkbox" class="buyingflux_period" name="min_period" id="id_min_period">
  <span class="checkmark_checkbox"></span>
</label><!--
--><div class="buyingflux_period_label_container">
  <label class="buyingflux_period_label">{{place.period_soon_begin}} - {{place.period_soon_end}}</label>&nbsp;&nbsp;
</div>
{% if place.period_late_begin and place.period_late_end %}
  <label class="container_checkbox" style="display:inline;">
    <input type="checkbox" class="buyingflux_period" name="max_period" id="id_max_period">
    <span class="checkmark_checkbox"></span>
  </label><!--
  --><div class="buyingflux_period_label_container">
    <label class="buyingflux_period_label">{{place.period_late_begin}} - {{place.period_late_end}}</label>
  </div>
{% endif %}

<div class="separador-20"> </div>



<div id="calendar_frame" style="width:100%; -webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box;">
  <div class="calendar_wrapper" style="height:250px">
    <div class="day_description">
      <span style="float:right; cursor:pointer;">&times;</span><br>
      <span id="day_description_date"></span>
      <div class="separador-10"> </div>
      Ocupado:
      <div class="separador-10"> </div>
      <div class="unavailability_container">
      </div>
    </div>
    <div class="month">      
      <ul>
        <li class="prev"><a class="move" value-count="0" count="-1">&#10094;</a></li>
        <li class="next"><a class="move" value-count="0" count="1">&#10095;</a></li>
        <li>
          <span id="month_ajax">{{month}}</span><br>
          <span id="year_ajax">{{year}}</span>
        </li>
      </ul>
    </div>

    <ul class="weekdays">
      <li>Seg</li><!--
      --><li>Ter</li><!--
      --><li>Qua</li><!--
      --><li>Qui</li><!--
      --><li>Sex</li><!--
      --><li>Sab</li><!--
      --><li>Dom</li>
    </ul>

    <ul class="days" id="days_ajax">  
      {% for day in list_month %}{{day|safe}}{% endfor %}
    </ul>
  </div>
</div>









<div class="separador-10"> </div>

<div class="buyingflux_form_title">
  Número de Convidados: <span id="capacity_string"></span>
</div>
<input type="number" id="capacity_form" style="display:none"/>
<div class="separador-15"> </div>
<div id="search_capacity" class="pnleft_input" style="width:90%; min-width:10px; border-radius:0; margin:auto"></div>





<input type="text" id="date_form" style="display:none"/>
            




<div class="separador-20"> </div>

{% if user_type == "buyer" %}
  {% if has_finished_payment %}
    <div id="check_availability" class="check_availability_disabled">Fazer a Minha Festa!</div>
  {% else %}
    <div><a href="/usuario/conta/">Conclua seu cadastro para poder agendar uma festa!</a></div>
  {% endif %}

{% elif user_type == "seller" %}
  <div>Entre com uma conta de Comprador, para agendar sua festa!</div>
{% else %}
  <div><a href="/login/?next=/buffet/detalhar/?pk={{place_pk}}">Faça seu login, para poder agendar uma festa!</a></div>
{% endif %}


<div class="separador-50"> </div>














{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
<script type="text/javascript" src="/static/slider/nouislider.min.js"></script>
<script type="text/javascript" src="/static/CUSTOM_JS/core/general.js"></script>
<script>








  // ==========================================================
  // Load Period (click on box, appears calendar)
  // ==========================================================
    $(".buyingflux_period").on("change", function(){
    var period = [0,0]
    var some_selected = false
    var needs_js_input_fix = "{{needs_js_input_fix}}"
    if(needs_js_input_fix) {
      if($(this).attr("checked")=="checked"){
        $(this).removeAttr("checked")
      } else {
        $(this).attr("checked", "checked")
      }  
    }
    
    $(".buyingflux_period").prop('checked', false);
    $(this).prop('checked', true);

    if($("#id_min_period").attr("checked")=="checked"){
      period[0] = 1
      some_selected = true
    }
    if($("#id_max_period").attr("checked")=="checked"){
      period[1] = 1
      some_selected = true
    }
    period = JSON.stringify(period)

    // $("#calendar_frame").toggle(function(){
    // },function(){
    // });
    months = $(".move").attr("value-count")

    load_calendar("{{place_pk}}", months, "none", period)



    if(some_selected==true){
      $(this).animate({height:300},200);
      $(".calendar_wrapper").slideDown(300)
      console.log("a")
    } else {
      $(".calendar_wrapper").slideUp(300)
      $(this).animate({height:300},0);
      console.log("b")
    }
    $("#date_form").val("")


  })



  // Capacity
  // source: https://refreshless.com/nouislider/
  var slider_page = document.getElementById('search_capacity');
  var start_value = parseInt(0)
  noUiSlider.create(slider_page, {
    start: [start_value],
    range: {
      'min': [0],
      'max': [500]
    },
    step: 10,
    connect: [true, false],
  });
  slider_page.noUiSlider.on("slide", function(values){
    if(values<500){
      $("#capacity_string").html(parseInt(values))
      check_field_availability()
    } else {
      $("#capacity_string").html("500+")
      check_field_availability()
    }
    $("#capacity_form").val(parseInt(values))
  })
  slider_page.noUiSlider.on("change", function(values){
    check_field_availability()
  })



  // Fields
  function check_field_availability(){
   var capacity_form = $("#capacity_form").val() 
   var date_form = $("#date_form").val() 
   if(capacity_form != "" && date_form != ""){
    if(capacity_form>0){
      // ===============================
      // Fields validated
      // ===============================
      $("#check_availability").removeClass("check_availability_disabled")
      
      // Date
      date_form = JSON.stringify(date_form.replace(" ", "").split("/"))
      date_form = encodeURIComponent(date_form)
      
      // Period
      var period = [0,0] 
      if($("#id_min_period").attr("checked")=="checked"){
        period[0] = 1
      }
      if($("#id_max_period").attr("checked")=="checked"){
        period[1] = 1
      }
      period_form = encodeURIComponent(period)


      var url_str = "/buffet/comprar/?place_pk=" + "{{place_pk}}" +  "&capacidade=" + capacity_form + "&date=" + date_form + "&period=" + period_form
      $("#check_availability").attr("onClick", "location='" + url_str + "'")
    } else {
      $("#check_availability").addClass("check_availability_disabled")
      $("#check_availability").attr("onClick", "")
    }
   } else {
    $("#check_availability").addClass("check_availability_disabled")
    $("#check_availability").attr("onClick", "")

   }
  }


















  // Load Calendar
  $(document).ready(function(){
    var period = [0,0]
    period = JSON.stringify(period)

    load_calendar("{{place_pk}}", 0, "none", period)
  })

  // Changing months
  $(".move").click(function(){
    var elem = $(this)
    var months = parseInt($(this).attr("value-count")) + parseInt($(this).attr("count"))
    $(".move").attr("value-count", months)

    // Animation
    if($(this).attr("count") == -1) {
      if ($('.calendar_wrapper').is(':hidden')) {
        $('.calendar_wrapper').show('slide',{direction:'left'},500);
      } else {
        $('.calendar_wrapper').hide('slide',{direction:'right'},500);
      }
    } else {
      if ($('.calendar_wrapper').is(':hidden')) {
        $('.calendar_wrapper').show('slide',{direction:'right'},500);
      } else {
        $('.calendar_wrapper').hide('slide',{direction:'left'},500);
      }
    }

    var period = [0,0]
    if($("#id_min_period").attr("checked")=="checked"){
      period[0] = 1
    }
    if($("#id_max_period").attr("checked")=="checked"){
      period[1] = 1
    }
    period = JSON.stringify(period)

    load_calendar("{{place_pk}}", months, elem, period)
  })




























  function load_calendar(place_pk, months, elem, period){


    $.ajax({
      url: "/usuario/ajax/calendario/",
      dataType: 'json',
      data: {
        "pk": "{{place_pk}}",
        "meses":months,
        "period":period,
      },
      success: function (data) {
        $("#month_ajax").html(data["month"])
        $("#month_ajax").attr("month", data["month_int"])
        $("#year_ajax").html(data["year"])
        str_days = ""
        for(i=0;i<data["list_month"].length;i++){
          str_days += data["list_month"][i]
        }
        $("#days_ajax").html(str_days)

        // Animation
        if(elem.attr("count") == -1) {
          $(".calendar_wrapper").show("slide", { direction: "left" }, 500);
        } else {
          $(".calendar_wrapper").show("slide", { direction: "right" }, 500);
        }

      }
    })


  }












  // Selecting a date
  $(document).on("click", ".calendar_class_day", function(){
    var this_div = $(this).children(1)
    if(!this_div.hasClass("day_colored")) {
      today_day = $(this).children(1).html()
    }
    today_day = String(today_day)

    var today_month = String($("#month_ajax").attr("month"))
    if(today_month.length==1) {
      today_month = "0" + today_month
    }

    var today_year = String($("#year_ajax").html())
    

    // Color when selected
    var dia = event.target.innerHTML
    $(".calendar_class_day").each(function(){
      var this_each = $(this).children(1)
      if(this_each.css("background-color")!="rgb(79, 167, 188)" && 
        this_each.css("background-color")!="rgb(221, 221, 221)" &&
        !String(this_each.attr("class")).includes("occupied_min") &&
        !String(this_each.attr("class")).includes("occupied_max")
        ) {
        this_each.css("background-color","white")
        this_each.css("color","#rgb(119, 119, 119)")        
      }
      if(dia == this_each.html()){
        this_each.css("background-color", "#98d000")
        this_each.css("color", "#ffffff")
        this_each.css("padding","5px")
      }
    })

    if(this_div.hasClass("day_colored")==0){
      var date_value_selected = today_day + " / " + today_month + " / " + today_year
      var background_color = this_div.css("background-color")
      if(this_div.attr("is_selected")==undefined){ // Add
        this_div.css("background-color","#98d000")
        this_div.css("color","white")
        $("#date_form").val(date_value_selected)
        this_div.attr("is_selected", "True")
        check_field_availability()
      } else { // Remove
        this_div.css("background-color","white")
        this_div.css("color","#rgb(119, 119, 119)")
        this_div.attr("is_selected", null)
        $("#date_form").val("")
        check_field_availability()
      }
    } else {
      $("#date_form").val("")
    }


  })








</script>
