{% extends "_base_user.html" %}
{% block content %} 


    <div id="page-content">
        <section class="container">
            <div class="row">
                <!--Content-->
                <div class="col-md-8">
                    <div class="separador-30"> </div>
                    {% block content_static %}{% endblock content_static %}
                </div>
                <!--Sidebar-->
                <div class="col-md-4">
                    <aside id="sidebar">
                        {% include "_feature_vertical.html" %}
                        <section>
                            <a href="#"><img src="assets/img/ad-banner-sidebar.png" alt=""></a>
                        </section>
                    </aside>
                    <!-- /#sidebar-->
                </div>
                <!-- /.col-md-3-->
                <!--end Sidebar-->
            </div>
            {% block how_it_works %}{% endblock how_it_works %}
        </section>
    </div>






















{% endblock content %}
