{% extends "static/_base_static_aboutus.html" %}
{% block page_title %}Sobre Nós{% endblock page_title %}

{% block content_static %}
<style>
    p {
        opacity:1;
        text-align: justify;
    }
</style>
    <section>
        <h1 style="color:#4fa7bc">Quem Somos</h2>
        <div class="separador-30"> </div>




        <p>O <b>123festas</b> é uma startup brasileira criada por quatro empreendedores com o objetivo de levar mais <b>facilidade</b> à vida dos pais e mães modernos, que no dia-a-dia agitado procuram <b>praticidade</b>, <b>agilidade</b> e <b>eficiência</b>.</p>

        <p>O site possibilita <b>encontrar</b> o local ideal para festa de aniversário dos seus filhos, com uma variedade de lugares incríveis.</p><br>
        

        <p>Com o <b>123Festas</b>, fazer a festa do seu filho nunca foi tão fácil! Não é preciso visitar cada local ou descobrir buffets no boca-a-boca e acabar nos mesmos de sempre, tais como o da sua rua ou o qual todos os amiguinhos da escola já fizeram festas. Deixe que o 123festas faça isso por você!</p>
        
        <p>Viemos para <b>revolucionar</b>! O  <b>123Festas conecta</b> famílias com os melhores e mais <b>diversos buffets</b> infantis de sua região, de acordo com a festa dos seus sonhos e, é claro, com o seu bolso.</p><br>

        
        <p>É possível <b>comparar</b> preço, forma de pagamento, localização, infraestrutura, e contar com a opinião e avaliação de outras pessoas que já festejaram.</p>
        
        <p>Sem sair de casa, no trabalho ou até no cabelereiro é possível, com apenas alguns cliques, <b>procurar</b>, <b>comparar</b> e <b>reservar</b> o buffet ideal, deixando mais tempo para o que realmente importa, sua família.</p>

    </section>

    <div class="separador-30"> </div>

        

    <div class="separador-30"> </div>
    <style>
      #howworks_container {
        display:block !important;
        width:auto !important;
      }
    </style>


{% endblock content_static %}








{% comment %} {% block how_it_works %}
    {% include "_how_it_works.html" %}
{% endblock how_it_works %} {% endcomment %}
