{% extends "static/_base_static.html" %}
{% block page_title %}Sobre Nós{% endblock page_title %}

{% block content_static %}
<style>
    p {
        opacity:1;
    }
</style>
    <section>
        <h2>Quem Somos Nós</h2>
        
        <p>O <img src="/static/img/123festas/logo_horizontal.png" style="width:100px; margin:0 5px 30px 5px;"/> é uma startup brasileira criada por quatro jovens empreendedores com o objetivo de levar mais <b>facilidade</b> à vida dos pais e mães modernos, que no dia-a-dia agitado procuram <b>praticidade</b> e <b>agilidade</b>. O <b>site</b> possibilita <b>encontrar</b> o local ideal para festa de aniversário dos seus filhos, com uma variedade de lugares incríveis.</p>
        
        <p>Com o <b>123Festas</b>, fazer a festa do seu filho nunca foi tão fácil! Não é preciso visitar cada local ou descobrir buffets no boca-a-boca e acabar nos mesmos de sempre, na sua rua ou no qual todos os amiguinhos da escola já fizeram sua festa.</p>
        
        <p>Viemos para <b>revolucionar</b>! O  <b>123Festas conecta</b> famílias com os melhores e mais <b>diversos</b> buffets infantis de sua região, de acordo com a festa dos seus sonhos e, é claro, com o seu bolso.</p>
        
        <p>É possível <b>comparar</b> preço, forma de pagamento, localização, infraestrutura, e ter acesso a opinião e avaliação de outras pessoas, de acordo com as características que a sua família procura.</p>
        
        <p>Sem sair de casa, no trabalho ou até no cabelereiro é possível, com apenas alguns cliques, <b>procurar</b>, <b>comparar</b> e <b>reservar</b> o buffet ideal, deixando mais tempo para o que realmente importa.</p>

    </section>

    <div class="separador-30"> </div>
    <section>
        <h2>Missão</h2>
        <p>Proporcionar uma alternativa moderna, tecnológica e eficiente que facilite o processo da procura, comparação e reserva do melhor buffet infantil para realizar a festa dos sonhos do seu filho.</p>

        <div class="separador-30"> </div>
        <h2>Visão</h2>
        <p>Ser a empresa líder de mercado, realizando sonhos e levando felicidade às crianças e suas famílias.</p>

        <div class="separador-30"> </div>
        <h2>Valores</h2>
        <p>O <b>123Festas</b> tem 5 pilares como base de sua cultura e do seu relacionamento com os clientes e fornecedores:</p>
        <p>- Fazer mais e melhor a cada dia</p>
        <p>- Inovar em todos os momentos</p>
        <p>- Criar alegria e diversão </p>
        <p>- Focar no Cliente</p>
        <p>- Espírito aventureiro e criativo</p>
        
    </section>
        

    <div class="separador-30"> </div>
    <style>
      #howworks_container {
        display:block !important;
        width:auto !important;
      }
    </style>

    {% include "_how_it_works.html" %}












{% endblock content_static %}
