{% extends "static/_base_static.html" %}
{% block page_title %}Fale Conosco{% endblock page_title %}

{% block content_static %}
    {% if not sent_email %}
        <section>



            <form role="form" action="?" method="post">{% csrf_token %}
                <div class="form-group">
                    <label for="faq-form-email">Email</label>
                    <input type="email" class="form-control" id="faq-form-email" name="faq-form-email" required="">
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <label for="faq-form-question">Question</label>
                    <textarea class="form-control" id="faq-form-question" name="faq-form-question" name="faq-form-question"  rows="3" required=""></textarea>
                </div>
                <!-- /.form-group -->
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Submit Question</button>
                </div>
                <!-- /.form-group -->
            </form>

            <!--/#contact-form-->
        </section>
        {% else %}
            <section class="faq-form">
                <figure class="clearfix">
                    <div class="wrapper">
                        <div class="pull-left">
                            <h3>Pergunta enviada!</h3>
                        </div>
                    </div>
                </figure>
            </section>
        {% endif %}

{% endblock content_static %}






