{% extends "static/_base_static.html" %}
{% block page_title %}Perguntas Frequentes{% endblock page_title %}

{% block content_static %}


















    <!-- /#faq-form-->
    <article class="faq-single">
        <i class="fa fa-question-circle"></i>
        <div class="wrapper">
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vel viverra tellus,
                at porttitor turpis. Vivamus ultricies orci quam, vitae pharetra lectus scelerisque nec.
            </h4>
            <div class="answer">
                <figure>Answer</figure>
                <p>
                    Vivamus ut turpis risus. Vestibulum gravida dictum sem a rutrum. Fusce tincidunt
                    rhoncus nulla vel rutrum. Nunc vel luctus dui. Phasellus egestas interdum lacinia.
                    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Nam ut commodo nulla, eu vulputate tellus.
                </p>
            </div>
        </div>
    </article>
    <!-- /.faq-single-->
    <article class="faq-single">
        <i class="fa fa-question-circle"></i>
        <div class="wrapper">
            <h4>Morbi vehicula mauris vel bibendum molestie. Ut varius purus in odio elementum
            </h4>
            <div class="answer">
                <figure>Answer</figure>
                <p>
                    Sed placerat porta pretium. Sed in mauris at quam egestas vehicula. Cum sociis
                    natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Aliquam ac eleifend sapien. Quisque tempus dictum urna, in finibus erat luctus sed.
                </p>
            </div>
        </div>
    </article>
    <!-- /.faq-single-->
    <article class="faq-single">
        <i class="fa fa-question-circle"></i>
        <div class="wrapper">
            <h4>Donec condimentum neque est, quis finibus velit laoreet vel.
            </h4>
            <div class="answer">
                <figure>Answer</figure>
                <p>
                    Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Integer molestie viverra neque sit amet posuere. Nullam eget ultricies mi. Proin pulvinar
                    quam porttitor consequat pulvinar. Etiam non neque et quam euismod cursus. Praesent eu
                    sem interdum, pharetra metus sed, sollicitudin sem. Curabitur tincidunt dolor
                    quis dolor iaculis, ut maximus ante fermentum
                </p>
            </div>
        </div>
    </article>
    <!-- /.faq-single-->
    <article class="faq-single">
        <i class="fa fa-question-circle"></i>
        <div class="wrapper">
            <h4>Suspendisse et enim semper, porta nunc ut, ullamcorper magna. Duis ut metus eu
                neque sollicitudin cursus non quis leo. Cras quis dignissim magna
            </h4>
            <div class="answer">
                <figure>Answer</figure>
                <p>
                    Vivamus ut turpis risus. Vestibulum gravida dictum sem a rutrum. Fusce tincidunt
                    rhoncus nulla vel rutrum. Nunc vel luctus dui. Phasellus egestas interdum lacinia.
                </p>
            </div>
        </div>
    </article>
    <!-- /.faq-single-->
    <article class="faq-single">
        <i class="fa fa-question-circle"></i>
        <div class="wrapper">
            <h4>Praesent scelerisque consectetur velit luctus fermentum. Sed lacinia ut nunc id
                consectetur. Praesent dignissim, enim in fringilla laoreet, est erat maximus nibh,
                id auctor sapien nisl a nisi.
            </h4>
            <div class="answer">
                <figure>Answer</figure>
                <p>
                    Donec at arcu purus. Suspendisse laoreet quam ut purus aliquam, tempor pharetra
                    tellus maximus. Etiam semper velit tincidunt, accumsan neque non, blandit metus.
                    Aenean blandit felis at luctus condimentum. Nam gravida luctus mi, sed aliquet
                    ligula consectetur a. Nulla eget semper felis, eget iaculis ante. Aliquam tempus
                    molestie quam vel pellentesque. Aliquam nibh turpis, lobortis tempor euismod in,
                    faucibus ut eros. Cras accumsan gravida tellus.
                </p>
            </div>
        </div>
    </article>
    <!-- /.faq-single-->























        <section class="faq-form">
            <figure class="clearfix">
                <i class="fa fa-question"></i>
                <div class="wrapper">
                    <div class="pull-left">
                        <strong>Didn't find an answer?</strong>
                        <h3>Ask Your Question</h3>
                    </div>
                    <a href="/usuario/fale-conosco/" class="btn btn-default pull-right">Ask Question</a>
                </div>
            </figure>
        </section>


{% endblock content_static %}