{% extends "control_panel/buyer_base.html" %}
{% load general_tags %}
{% load i18n %}

{% block page_title %}Agendados{% endblock page_title %}
{% block panel_title %}Buffets{% endblock panel_title %}

{% block user_panel_content %}
    <link rel="stylesheet" href="/static/CUSTOM_CSS/user/control_panel/buyer_buffet_bought.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/review.css" type="text/css">
     <style>
        .buyerfamily_title {
            text-transform:uppercase;
            font-size:22px;
            color:#00A8B5;
            font-weight:bold;

        }

    </style>
      <div class="separador-20"> </div>
    <div class="buyerfamily_title" >Buffets Agendados</div>
    <hr style="border-color:#BDEEF0" class="line">
    
    
    <section class="listing">
        {% for place in place_list %}
            <div class="item list" >
                <div class="image" style="padding:0 !important">
                    <div class="quick-view" style="width:30px; padding-left:5px" onclick="javascript:location.href='/buffet/detalhar/?pk={{place.pk}}'"><i class="fa fa-eye"></i></div>
                    <a href="/buffet/detalhar/?pk={{place.pk}}" style="line-height:0">
                        {% comment %} <div class="item-specific">
                            <span title="Capacity">
                                <img src="/static/img/icon/person.png" alt="" style="width:10px;">{{place.capacity|only_integer}} pessoas
                            </span>
                        </div> {% endcomment %}

						<div class="center-cropped img-center" style="background-image: url(/media/{{place.photo}}); height:180px; width:100%" alt=""></div>
                    </a>
                </div>
                <div class="wrapper wrapper_buffetbought" style="vertical-align:top">
                    <div class="row">
                        <div class="col-md-12">
                            <a href="/buffet/detalhar/?pk={{place.pk}}">
                                <h3 style="color:#00A7b6">{{place.name}}</h3>
                            </a>
                            
                            <figure><i class="icon_menu fa fa-map-marker" style="color:#00A7b6"></i> {{place.address}}</figure>

			                <figure>
								<i class="icon_menu fa fa-calendar" style="color:#00A7b6"></i> 
								{% language 'pt-br' %}
									{{place.address}}
								{% endlanguage %}
			                </figure>


                        </div>
                            <div class="col-md-12" style="padding-top:17%; font-size:30px">
                            {% if can_refund and not place.canceled and not place.has_passed %}

        						    	<a href="/usuario/avaliar-buffet/?reservation={{place.pk_reservation}}" style="font-size:12px; padding: 7px 12px 7px 12px;{% if not place.has_passed %} background-color:#f74235{% endif %}" class="btn btn-default" {% if not place.has_passed %}disabled{% endif %}>
        						    		{% if place.has_passed and not place.canceled %}
        						    			{% if place.review_rates != "None" %}
        						    				Editar Avaliação
        						    			{% else %}
        						    				Avalie o Estabelecimento
        						    			{% endif %}
                                            {% elif place.canceled %}
                                                Festa Cancelada
        						    		{% else %}
        						    			O Evento está chegando!
        						    		{% endif %}
        						    	</a>
                                        {% if place.can_cancel != False and not place.canceled %}
                                            <a href="/usuario/cancelar-buffet/?placereservation_pk={{place.pk_reservation}}&place_refund={{place.can_cancel}}" style="font-size:12px; padding: 7px 12px 7px 12px" class="btn btn-default">
                                                Cancelar Festa
                                            </a>
                                        {% elif place.canceled %}
                                            <a style="font-size:12px; padding: 7px 12px 7px 12px" class="btn btn-default">
                                                Festa Cancelada
                                            </a>
                                        {% endif %}
                            {% else %}
                                <div class="col-md-12" >
						    	<a href="/usuario/avaliar-buffet/?reservation={{place.pk_reservation}}" style="font-size:12px; padding: 7px 12px 7px 12px; background-color:#FB857E" class="btn btn-default pull-right" {% if not place.has_passed %}disabled{% endif %}>
						    		{% if place.has_passed and not place.canceled %}
						    			{% if place.review_rates != "None" %}
						    				Editar Avaliação
						    			{% else %}
						    				Avalie o Estabelecimento
						    			{% endif %}
                                    {% elif place.canceled %}
                                        Festa Cancelada
						    		{% else %}
						    			O Evento está chegando!
						    		{% endif %}
						    	</a><br><br>
                                </div>
                            {%endif%}
                                

                            </div>
                    </div>
                    {% comment %} <div class="info">
                        <div class="separador-10"> </div>
                        <!-- ========================= Block Avaliação ========================= -->
                        {% if place.review_rates != "None" %}
                            <figure class="pull-left" style="vertical-align:top; font-weight:bold">
                                Avaliação <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_average}}" data-num-stars="5"></span> ({{place.review_rates.rate_average}})&nbsp;&nbsp;
                                <span class="review_plussign" place-pk="{{place.pk}}">+</span>
                            </figure>
                            <div class="separador-25"> </div>
                            <div class="review_wrapper" id="review_wrapper_{{place.pk}}">
                                <figure style="display:inline-block;">
                                    Infraestrutura 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_infraestructure}}" data-num-stars="5"></span> ({{place.review_rates.rate_infraestructure}})
                                </figure><br>
                                <figure style="display:inline-block;">
                                    Brinquedos 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_rides}}" data-num-stars="5"></span> ({{place.review_rates.rate_rides}})
                                </figure><br>
                                <figure style="display:inline-block;">
                                    Custo-Benefício 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_cost_benefit}}" data-num-stars="5"></span> ({{place.review_rates.rate_cost_benefit}})
                                </figure><br>
                                <figure style="display:inline-block;">
                                    Atendimento 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_attendance}}" data-num-stars="5"></span> ({{place.review_rates.rate_attendance}})
                                </figure><br>
                                <figure style="display:inline-block;">
                                    Opinião das Crianças 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_children_opinion}}" data-num-stars="5"></span> ({{place.review_rates.rate_children_opinion}})
                                </figure>
                                <div class="separador-50"> </div>
                            </div>
                        {% endif %}
                    </div> {% endcomment %}
                </div>
            </div>
        {% endfor %}
    </section>


{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
<script type="text/javascript" src="/static/CUSTOM_JS/user/control_panel/buyer_buffet_bought.js"></script>
{% block old_custom_js %}{% endblock old_custom_js %}


{% endblock user_panel_content %}