{% extends "control_panel/buyer_base.html" %}
{% load general_tags %}
{% load i18n %}

{% block page_title %}Home{% endblock page_title %}
{% block panel_title %}Buffets{% endblock panel_title %}

{% block user_panel_content %}
    <link rel="stylesheet" href="/static/CUSTOM_CSS/user/control_panel/buyer_buffet_bought.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/review.css" type="text/css">

    <section class="listing">
        {% for place in place_list %}
            <div class="item list" style="border: 1px solid #f9f9f9">
                <div class="image" style="padding:0 !important">
                    <div class="quick-view" style="width:30px; padding-left:5px" onclick="javascript:location.href='/buffet/detalhar/?pk={{place.pk}}'"><i class="fa fa-eye"></i></div>
                    <a href="/buffet/detalhar/?pk={{place.pk}}" style="line-height:0">
                        <div class="item-specific">
                            <span title="Capacity">
                                <img src="/static/img/icon/person.png" alt="" style="width:10px;">{{place.capacity|only_integer}} pessoas
                            </span>
                        </div>

						<div class="center-cropped img-center" style="background-image: url(/media/{{place.photo}}); height:150px; width:100%" alt=""></div>
                    </a>
                </div>
                <div class="wrapper wrapper_buffetbought" style="vertical-align:top">
                    <div class="row">
                        <div class="col-md-7">
                            <a href="/buffet/detalhar/?pk={{place.pk}}">
                                <h3>{{place.name}}</h3>
                            </a>
                            <figure>{{place.address}}</figure>

			                <figure>
								Data do Evento: 
								{% language 'pt-br' %}
									{{place.datetime_begin}}
								{% endlanguage %}
			                </figure>


                        </div>
                            <div class="col-md-5" style="padding-right:0">
						    	<a href="/usuario/avaliar-buffet/?reservation={{place.pk_reservation}}" style="font-size:12px; padding: 7px 12px 7px 12px;{% if not place.has_passed %} background-color:#f74235{% endif %}" class="btn btn-default pull-right" {% if not place.has_passed %}disabled{% endif %}>
						    		{% if place.has_passed %}
						    			{% if place.review_rates != "None" %}
						    				Editar Avaliação
						    			{% else %}
						    				Avalie o Estabelecimento
						    			{% endif %}
						    		{% else %}
						    			O Evento está chegando!
						    		{% endif %}
						    	</a>
                            </div>
                    </div>
                    <div class="info">
                        <div class="separador-10"> </div>
                        <!-- ========================= Block Avaliação ========================= -->
                        {% if place.review_rates != "None" %}
                            <figure class="pull-left" style="vertical-align:top; font-weight:bold">
                                Avaliação <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_average}}" data-num-stars="5"></span> ({{place.review_rates.rate_average}})&nbsp;&nbsp;
                                <span class="review_plussign" place-pk="{{place.pk}}">+</span>
                            </figure>
                            <div class="separador-25"> </div>
                            <div class="review_wrapper" id="review_wrapper_{{place.pk}}">
                                <figure style="display:inline-block;">
                                    Infraestrutura 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_infraestructure}}" data-num-stars="5"></span> ({{place.review_rates.rate_infraestructure}})
                                </figure>
                                <div class="separador-10"> </div>
                                <figure style="display:inline-block;">
                                    Brinquedos 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_rides}}" data-num-stars="5"></span> ({{place.review_rates.rate_rides}})
                                </figure>
                                <div class="separador-10"> </div>
                                <figure style="display:inline-block;">
                                    Custo-Benefício 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_cost_benefit}}" data-num-stars="5"></span> ({{place.review_rates.rate_cost_benefit}})
                                </figure>
                                <div class="separador-10"> </div>
                                <figure style="display:inline-block;">
                                    Atendimento 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_attendance}}" data-num-stars="5"></span> ({{place.review_rates.rate_attendance}})
                                </figure>
                                <div class="separador-10"> </div>
                                <figure style="display:inline-block;">
                                    Opinião das Crianças 
                                    <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_rates.rate_children_opinion}}" data-num-stars="5"></span> ({{place.review_rates.rate_children_opinion}})
                                </figure>
                                <div class="separador-50"> </div>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>


{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
<script type="text/javascript" src="/static/CUSTOM_JS/user/control_panel/buyer_buffet_bought.js"></script>
{% block old_custom_js %}{% endblock old_custom_js %}


{% endblock user_panel_content %}