{% extends "control_panel/buyer_base.html" %}
{% load i18n %}
{% block page_title %}Home{% endblock page_title %}
{% block panel_title %}Avaliar{% endblock panel_title %}

{% block user_panel_content %}

<link rel="stylesheet" href="/static/CUSTOM_CSS/user/control_panel/buyer_buffet_review.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/review.css" type="text/css">


	<section>
        <div class="row">
            <div class="col-md-3">
                <div class="img-center center-cropped place_image" style="background-image: url(/media/{{place.photo}}); width:100%; height:100px;"></div>
            </div>
            <div class="col-md-9">
                <a href="/buffet/detalhar/?pk={{place.pk}}" style="font-weight:bold; color:#021a5d; font-size:22px">{{place.name}}</a><br>
                {% language 'pt-br' %}
                    <i>{{place.day}}</i><br>
                {% endlanguage %}
            </div>
        </div>

        <div class="separador-5"> </div>


	</section>
	<div class="separador-20"> </div>

    <section id="write-review">
    	{% if just_reviewed %}
    		<h2>Sua avaliação foi enviada! <a href="/usuario/avaliar-buffet/?reservation={{place.reservation_pk}}">(Editar)</a></h2>
    	{% else %}
	        <form id="form-review" role="form" method="post" action="?" class="background-color-white">{% csrf_token %}

                <aside class="user-rating">
                    <label class="rating_title">Infraestrutura</label>
                    <figure data-rating="{{review.rate_infraestructure}}" id="figure_rate_infraestructure" class="rating active" data-name="value"></figure>
                </aside>
                <div class="separador-10"> </div>
                <aside class="user-rating">
                    <label class="rating_title">Brinquedos</label>
                    <figure data-rating="{{review.rate_rides}}" id="figure_rate_rides" class="rating active" data-name="score"></figure>
                </aside>
                <div class="separador-10"> </div>
                <aside class="user-rating">
                    <label class="rating_title">Custo-Benefício</label>
                    <figure data-rating="{{review.rate_cost_benefit}}" id="figure_rate_cost_benefit" class="rating active" data-name="score"></figure>
                </aside>
                <div class="separador-10"> </div>
                <aside class="user-rating">
                    <label class="rating_title">Atendimento</label>
                    <figure data-rating="{{review.rate_attendance}}" id="figure_rate_attendance" class="rating active" data-name="score"></figure>
                </aside>
                <div class="separador-10"> </div>
                <aside class="user-rating">
                    <label class="rating_title">Opinião das Crianças</label>
                    <figure data-rating="{{review.rate_children_opinion}}" id="figure_rate_children_opinion" class="rating active" data-name="score"></figure>
                </aside>
                <div class="separador-10"> </div>

                <div class="form-group">
                    <div class="separador-15"> </div>
                    <label for="form-review-message">Nos conte um pouco da sua experiência!</label>
                    <textarea class="form-control" id="comment_id" name="comment" rows="6" >{{review.comment}}</textarea>
                    <div class="error_message" id="comment_obligatory">Comentário obrigatório se alguma das avaliações for menor ou igual à 2</div>
                    <div class="separador-15"> </div>
                </div>
                <div class="form-group">
                	<input class="hidden" id="pk_id" name="reservation_pk" type="text" value="{{place.reservation_pk}}"/>
                	<input class="rate hidden" id="rate_infraestructure_id" name="rate_infraestructure" type="number" value="{{review.rate_infraestructure}}"/>
                	<input class="rate hidden" id="rate_rides_id" name="rate_rides" type="number" value="{{review.rate_rides}}"/>
                	<input class="rate hidden" id="rate_cost_benefit_id" name="rate_cost_benefit" type="number" value="{{review.rate_cost_benefit}}"/>
                	<input class="rate hidden" id="rate_attendance_id" name="rate_attendance" type="number" value="{{review.rate_attendance}}"/>
                	<input class="rate hidden" id="rate_children_opinion_id" name="rate_children_opinion" type="number" value="{{review.rate_children_opinion}}"/>
                    <div class="separador-10"> </div>
                    <button type="submit" class="btn btn-default" id="send_button" {% if not review %}disabled{% endif %}>{% if review %}Salvar{% else %}Enviar{% endif %}</button>
                    <div class="separador-30"> </div>
                </div>



	        </form>
	    {% endif %}
    </section>


{% block jquery %}
  <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}

<script type="text/javascript" src="/static/CUSTOM_JS/core/review.js"></script>
{% block page_js %}
<script type="text/javascript" src="/static/CUSTOM_JS/user/control_panel/buyer_buffet_review.js"></script>
{% endblock page_js %}
{% endblock user_panel_content %}