{% extends "control_panel/seller_base.html" %}
{% block page_title %}Buffets Cadastrados{% endblock page_title %}
{% block panel_title %}Buffets{% endblock panel_title %}
{% load general_tags %}

{% block user_panel_content %}
    <a href="/usuario/anunciante/buffet/cadastrar" class="btn btn-default pull-right">Novo Anúncio</a>
    <div class="separador-40"> </div>
    <section class="block listing">
        {% for place in place_list %}
            <div class="item list" style="border: 1px solid #f9f9f9">
                <div class="image">
                    <div class="quick-view"><i class="fa fa-eye"></i><span>Visualizar</span></div>
                    <a href="/buffet/detalhar/?pk={{place.pk}}">
                        <div class="item-specific">
                            <span title="Area">
                                <img src="/static/base_template_user/assets/img/area.png" alt="">{{place.size|only_integer}}m<sup>2</sup>
                            </span>
                            <span title="Capacity">
                                <img src="/static/img/icon/person.png" alt="" style="width:10px;">{{place.capacity|only_integer}} pessoas
                            </span>
                        </div>
                        <!--
                        <div class="icon">
                            <i class="fa fa-thumbs-up"></i>
                        </div>
                        -->
                        <img src="/media/{{place.photo}}" alt="">

                    </a>
                </div>
                <div class="wrapper">
                    <a href="/usuario/anunciante/buffet/cadastrar/?pk={{place.pk}}" class="btn btn-default pull-right">Editar</a>
                    <a href="/buffet/detalhar/?pk={{place.pk}}">
                        <h3>{{place.name}}</h3>
                        {% if not place.is_active %}
                            <h3 style="color:#f74235">Seu anúncio foi bloqueado. Por favor, contactar o Administrador para mais informações</h3>
                        {% endif %}
                    </a>
                    <figure>{{place.address}}</figure>
                    <div class="info">
                        {% if place.review_rates == "None" %}
                            <figure class="pull-left" style="font-weight:bolder">
                                Não há avaliações!
                                <i style="color:#4fa7bc;" class="fa fa-star"></i>
                            </figure><br>

                        {% else %}
                            <figure class="pull-left" style="font-weight:bolder">Média Total
                                &nbsp;&nbsp; {{place.review_rates.rate_average}}
                            <i style="color:#4fa7bc;" class="fa fa-star"></i>
                            </figure><br>
                            
                            <figure class="pull-left">Infraestrutura
                                &nbsp;&nbsp; {{place.review_rates.rate_infraestructure}}
                            <i style="color:#4fa7bc;" class="fa fa-star"></i>
                            </figure><br>
                            
                            <figure class="pull-left">Brinquedos
                                &nbsp;&nbsp; {{place.review_rates.rate_rides}}
                            <i style="color:#4fa7bc;" class="fa fa-star"></i>
                            </figure><br>
                            
                            <figure class="pull-left">Custo-Benefício
                                &nbsp;&nbsp; {{place.review_rates.rate_cost_benefit}}
                            <i style="color:#4fa7bc;" class="fa fa-star"></i>
                            </figure><br>
                            
                            <figure class="pull-left">Atendimento
                                &nbsp;&nbsp; {{place.review_rates.rate_attendance}}
                            <i style="color:#4fa7bc;" class="fa fa-star"></i>
                            </figure><br>
                            
                            <figure class="pull-left">Opinião das Crianças
                                &nbsp;&nbsp; {{place.review_rates.rate_children_opinion}}
                            <i style="color:#4fa7bc;" class="fa fa-star"></i>
                            </figure><br>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>


{% endblock user_panel_content %}