{% extends "control_panel/seller_base.html" %}
{% block page_title %}Disponibilidade & Preços{% endblock page_title %}
{% block panel_title %}Disponibilidade & Preços - {{place.name}}{% endblock panel_title %}
{% load datetime_tags %}
{% load general_tags %}

{% block user_panel_content %}
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/radio_checkbox.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/radio_checkbox_opt1.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/radio_checkbox_opt2.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/user/control_panel/seller_place_availability.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/calendar_colored.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/review.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/placeprice.css" type="text/css">



    <!-- CLOCK PICKER -->
    <link rel="stylesheet" type="text/css" href="/static/clockpicker/dist_folder/bootstrap-clockpicker.min.css">
    <link rel="stylesheet" type="text/css" href="/static/clockpicker/assets/css/github.min.css">




    <ul class="breadcrumbs-two">
        <li id="bread1" option="times" class="bread bread1 breadcrumbs_selected"><a><span>Horários&nbsp;</span></a></li>
        <li id="bread2" option="prices" class="bread bread2"><a><span>Preços&nbsp;</span></a></li>
        <li id="bread3" class="bread bread3"><a><span>Sazonalidade&nbsp;</span></a></li>
    </ul>











        <section>
            <div class="center_element">
                <div style="text-align:left; width:100%;">


                    {% if not has_period %}
                        <div class="error_message" style="display:block; float:left">
                            Preencha os horários de funcionamento, na aba <b>Horários</b>.
                        </div>
                        <div class="separador-20"> </div>
                    {% endif %}

                    <div id="has_place_price_list" {% if placeprice_list %}style="display:none"{% endif %}>
                        <span style="color:red">Crie um pacote de preço para concluir, na aba <b>Preços</b>.</span>
                        <div class="separador-20"> </div>
                    </div>
                    
                    
                    <div class="options_menu" id="times">
                


                        <h1>Disponibilidade e horários</h1>
                        <hr class="line"/>
                        <h4>Horários de funcionamento</h4>
                        Selecione quais os horarios de fucionamento das festas em seu buffet!
                        <div class="separador-20"> </div>
                        <form id="form-submit" role="form" method="post" action="?" enctype="multipart/form-data">{% csrf_token %}
                            Funcionamento<br>
                            <div style="display:inline-block">
                                <span style="font-size:11px;">Das:</span>
                                    <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" id="id_soon_begin" name="soon_begin" required value="{{soon_begin}}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                            </div><div style="display:inline-block; padding-left:20px">
                                <span style="font-size:11px;">Até:</span>
                                    <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" id="id_soon_end" name="soon_end" required value="{{soon_end}}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                            </div>


                            <div class="separador-20"> </div>
                            Funcionamento Opcional <i id="unavailability_optional_erase">(apagar)</i><br>
                            <div style="display:inline-block">
                                <span style="font-size:11px;">Das:</span>
                                    <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" id="id_late_begin" name="late_begin" value="{{late_begin}}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>

                            </div><div style="display:inline-block; padding-left:20px">
                                <span style="font-size:11px;">Até:</span>
                                    <div class="input-group clockpicker" data-placement="left" data-align="top" data-autoclose="true">
                                        <input type="text" class="form-control" id="id_late_end" name="late_end" value="{{late_end}}">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-time"></span>
                                        </span>
                                    </div>
                            </div><br>
                            <div class="separador-10"> </div>

                            <input type="text" value="{{place_pk}}" id="id_place_pk" name="place_pk" style="display:none">
                            <button type="submit" class="btn btn-default pull-right" style="font-size:12px">Atualizar</button>
                            <div class="separador-30"> </div>
                        </form>
                        {% if has_period %}
                            <div class="separador-30"> </div>
                            <h4>Disponibilidade e Ocupação</h4>
                            Selecione as datas e horários em que seu buffet já não está disponível para festa. Isso será muito importante para evitar conflitos de agenda!
                            <div class="separador-10"> </div>
                            <div style="text-align:left; width:90%; min-width:300px; max-width:500px; margin:auto">
                                {% include "calendar-availability.html" %}
                            </div>
                            <div class="separador-10"> </div>
                            <span class="section_title">Quando seu buffet estará ocupado?</span>
                            <span style="font-size:11px; font-style:italic">(Selecione a data no calendário)</span>
                            <div class="separador-10"> </div>
                            <div class="subsection_availability">
                                <input type="text" class="form-control calendar_input" id="date_id" name="date" autocomplete="off" >
                                <div class="separador-15"> </div>
                                <label class="container_checkbox_opt1" style="display:inline-block; font-size:12px; line-height:24px">
                                  <input class="unavailability_period" type="checkbox" name="min_period" id="id_min_period">
                                  <span class="checkmark_checkbox_opt1"></span>
                                  {{place.period_soon_begin}} - {{place.period_soon_end}}
                                </label>
                                {% if place.period_late_begin != None %}
                                    &nbsp;&nbsp;
                                    <label class="container_checkbox_opt2" style="display:inline-block; font-size:12px; line-height:24px">
                                      <input class="unavailability_period" type="checkbox" name="max_period" id="id_max_period">
                                      <span class="checkmark_checkbox_opt2"></span>
                                      {{place.period_late_begin}} - {{place.period_late_end}}
                                    </label>
                                {% endif %}
                                <div class="separador-10"> </div>

                                <span class="section_title">Recorrência da indisponibilidade...</span><br>
                                <select id="unavailability_repeat" name="" required>
                                    <option value="">-</option>
                                    <option value="week">Toda Semana</option>
                                    <option value="biweek">Quinzenalmente</option>
                                    <option value="month">Todo Mês</option>
                                </select>
                                <button type="submit" class="btn btn-default pull-right" style="font-size:12px" id="send_new_unavailability">Adicionar</button>

                                <div class="separador-10"> </div>
                                <div class="error_message" id="error_unavailability">EXEMPLO</div>
                                <div class="separador-50"> </div>

                                <div class="row" id="unavailability_container">
                                </div>
                            </div>

                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="options_menu" id="prices" style="text-align:left; display:none">
                {% if has_period %}
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Pacotes de festa e valores</h1>
                            <hr class="line"/>
                            Como cada buffet tem os seus próprios serviços e produtos, é importante uma boa apresentação sobre os  pacotes de festa que serão disponibilizados ao cliente.
                            <div class="separador-20"> </div>


                            Nome:<br>
                            <input type="text" required placeholder="Nome" class="placeprice_field" id="id_name" name="name" maxlength="32"/>
                            <div class="separador-20"> </div>


                            Descrição:<br>
                            <span style="font-size:11px; font-style:italic">(Pequena descrição do Buffet)</span>
                            <textarea type="text" required placeholder="Nome" class="placeprice_field" id="id_description_long" name="description_long" maxlength="128"> </textarea>
                            <div class="separador-20"> </div>





                            Detalhes do Pacote:<br>
                            <span style="font-size:11px; font-style:italic">(Descreva em tópicos o que compõe este pacote)</span>
                            <div class="separador-5"> </div>
                            <input type="text" id="id_description_input" placeholder="Descreva seu pacote de preço em pontos" maxlength="32"/>
                            <div class="add_button" type="description">+</div>
                            <br><br>
                            <div class="separador-5"> </div>
                            <div class="add_container" id="id_description_container">
                                <span id="placeholder_description" style="margin-left:5px; color:#858585">
                                    ex: "Apresentação de Atores"
                                </span>


                            </div>
                            <input type="text" class="placeprice_field" id="id_description" name="name" style="display:none">









                            <div class="separador-20"> </div>


                            Convidados Mínimos:&nbsp;&nbsp;
                            <select class="placeprice_field" id="id_capacity_min" name="capacity_min">
                                <option value="">-</option>
                                {% for i in 501|create_range %}
                                    {% if i == 500 %}
                                        <option value="{{i}}">500+</option>
                                    {% else %}
                                        <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="separador-20"> </div>

                            Convidados Máximos:&nbsp;&nbsp;
                            <select class="placeprice_field" id="id_capacity_max" name="capacity_max">
                                <option value="">-</option>
                                {% for i in 501|create_range %}
                                    {% if i == 500 %}
                                        <option value="{{i}}">500+</option>
                                    {% else %}
                                        <option value="{{i}}">{{i}}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                            <div class="separador-20"> </div>


                            <div style="position:relative">
                                Valor unitário (por convidado):
                                {% include "_question_mark.html" %}
                            </div>
                            <input type="text" required placeholder="R$ 00,00" step="any" class="placeprice_field" id="id_value" name="value" data-thousands="." data-decimal="," data-prefix="R$ " maxlength="9" />
                            <div class="separador-20"> </div>



                            <div style="position:relative">
                                Valor mínimo (absoluto, opcional):
                                <div class="help-tip" id="help_tip2"><!-- ID is only for JS -->
                                    <p>This is the inline help tip! You can explain to your users what this section of your web app is about.</p>
                                </div>
                            </div>
                            <input type="text" required placeholder="R$ 0000,00" step="any" class="placeprice_field" id="id_value_min" name="value_min" data-thousands="." data-decimal="," data-prefix="R$ " maxlength="11" />
                            <div class="separador-20"> </div>


                            <span class="error_message" id="placeprice_add_error">
                                Preencha todos os espaços!
                            </span>

                            <button class="btn btn-default pull-right" style="font-size:12px" id="placeprice_add">Adicionar</button>
                            <div class="separador-90"> </div>

                        </div>
                        <div class="col-md-6">

                            <h1>Meus pacotes de festa</h1>
                            <hr class="line"/>
                            <div class="separador-20"> </div>
                            <div id="placeprice_container">
                            </div>
                {% endif %}
            </div>

        </section>










{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/CUSTOM_JS/core/maskmoney/src/jquery.maskMoney.js"></script>
{% endblock jquery %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
{% block old_custom_js %}{% endblock old_custom_js %}
{% block js_select_customize %}{% endblock js_select_customize %}





<script type="text/javascript" src="/static/slider/nouislider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>

<!-- CLOCKPICKER -->
<script type="text/javascript" src="/static/CUSTOM_JS/user/control_panel/seller_place_availability.js"></script>
<script type="text/javascript" src="/static/clockpicker/dist_folder/bootstrap-clockpicker.min.js"></script>
<script type="text/javascript">
      // Help tip
      $("#help_tip p").html("O valor unitário será multiplicado pelo número total de convidados da festa, resultando no valor final que vai ser cobrado do aniversariante.")
      $("#help_tip").css("position", "absolute")
      $("#help_tip").css("top", "-10px")
      $("#help_tip").css("right", "0px")

      // Help tip
      $("#help_tip2 p").html("O preço mínimo é o valor cobrado do anversariante pelo evento completo, caso o preo do valor unitário x convidados seja inferior ao desejado pelo buffet.")
      $("#help_tip2").css("position", "absolute")
      $("#help_tip2").css("top", "-10px")
      $("#help_tip2").css("right", "0px")




$('.clockpicker').clockpicker().find('input').change(function(){
    console.log(this.value);
});
var input = $('#single-input').clockpicker({
    placement: 'bottom',
    align: 'left',
    autoclose: true,
    'default': 'now'
});

$('.clockpicker-with-callbacks').clockpicker({
        donetext: 'Done',
        init: function() { 
            console.log("colorpicker initiated");
        },
        beforeShow: function() {
            console.log("before show");
        },
        afterShow: function() {
            console.log("after show");
        },
        beforeHide: function() {
            console.log("before hide");
        },
        afterHide: function() {
            console.log("after hide");
        },
        beforeHourSelect: function() {
            console.log("before hour selected");
        },
        afterHourSelect: function() {
            console.log("after hour selected");
        },
        beforeDone: function() {
            console.log("before done");
        },
        afterDone: function() {
            console.log("after done");
        }
    })
    .find('input').change(function(){
        console.log(this.value);
    });

// Manually toggle to the minutes view
$('#check-minutes').click(function(e){
    // Have to stop propagation here
    e.stopPropagation();
    input.clockpicker('show').clockpicker('toggleView', 'minutes');
});
if (/mobile/i.test(navigator.userAgent)) {
    $('input').prop('readOnly', true);
}
</script>
<script type="text/javascript" src="/static/clockpicker/assets/js/highlight.min.js"></script>
<script type="text/javascript">
hljs.configure({tabReplace: '    '});
hljs.initHighlightingOnLoad();
</script>
<!-- CLOCKPICKER -->





<script>
    // ====================================
    // Capacity
    // ====================================
    // source: https://refreshless.com/nouislider/
    // var slider_page = document.getElementById('aaa');
    // noUiSlider.create(slider_page, {
    //   start: [0,100],
    //   range: {
    //     'min': [0],
    //     'max': [5000]
    //   },

    // });
    // slider_page.noUiSlider.on("slide", function(values){
    //   $("#capacity_val").html(parseInt(values))
    // })
    // slider_page.noUiSlider.on("change", function(values){
    //   loading_icon()
    //   var get_places = get_places_pk()
    // })



</script>
{% endblock user_panel_content %}