{% extends "control_panel/seller_base.html" %}
{% block page_title %}Disponibilidade & Preços{% endblock page_title %}
{% block panel_title %}Disponibilidade & Preços - {{place.name}}{% endblock panel_title %}
{% load datetime_tags %}
{% load general_tags %}

{% block user_panel_content %}
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/radio_checkbox.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/user/control_panel/seller_place_availability.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/calendar_colored.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/review.css" type="text/css">
    <link rel="stylesheet" href="/static/CUSTOM_CSS/core/placeprice.css" type="text/css">






    <div class="separador-10"> </div>



        <section>
            <div class="row">
                <div class="col-md-6">
                    Selecione ao menos um período que seu Buffet opera para colocá-lo no ar!
                    <div class="separador-20"> </div>
                    <form id="form-submit" role="form" method="post" action="?" enctype="multipart/form-data">{% csrf_token %}
                        Funcionamento<br>
                        Das:
                            <select class="unavailability_field begin" id="id_soon_begin" name="soon_begin" required value="{{soon_begin}}">
                                <option value="">-</option>
                                {% for i in 24|create_minutehour %}
                                    <option value="{{i}}" {% if soon_begin == i %}selected{% endif %}>{{i}}</option>
                                {% endfor %}
                            </select>
                        Até:
                            <select class="unavailability_field begin" id="id_soon_end" name="soon_end" required value="{{soon_end}}">
                                <option value="">-</option>
                                {% for i in 24|create_minutehour %}
                                    <option value="{{i}}" {% if soon_end == i %}selected{% endif %}>{{i}}</option>
                                {% endfor %}
                            </select>

                        <div class="separador-20"> </div>
                        Funcionamento Opcional <i id="unavailability_optional_erase">(apagar)</i><br>
                        Das:
                            <select class="unavailability_field begin" id="id_late_begin" name="late_begin" value="{{late_begin}}">
                                <option value="">-</option>
                                {% for i in 24|create_minutehour %}
                                    <option value="{{i}}" {% if late_begin == i %}selected{% endif %}>{{i}}</option>
                                {% endfor %}
                            </select>
                        Até:
                            <select class="unavailability_field begin" id="id_late_end" name="late_end" value="{{late_end}}">
                                <option value="">-</option>
                                {% for i in 24|create_minutehour %}
                                    <option value="{{i}}" {% if late_end == i %}selected{% endif %}>{{i}}</option>
                                {% endfor %}
                            </select>
                        <input type="text" value="{{place_pk}}" id="id_place_pk" name="place_pk" style="display:none">
                        <button type="submit" class="btn btn-default pull-right" style="font-size:12px">Atualizar</button>
                        <div class="separador-30"> </div>
                    </form>
                    {% if has_period %}

                        <hr class="line"/>
                        <div class="separador-30"> </div>
                        {% include "calendar-availability.html" %}
                        <div class="separador-10"> </div>
                        <span class="section_title">Quando seu buffet estará ocupado?</span><br>
                        <span class="section_title">(selecione a data no calendário)</span>
                        <div class="subsection_availability">

                            <input type="text" class="form-control calendar_input" id="date_id" name="date" autocomplete="off" >
                            <div class="separador-15"> </div>
                            <label class="container_checkbox" style="display:inline-block; font-size:12px; line-height:24px">
                              <input class="unavailability_period" type="checkbox" name="min_period" id="id_min_period">
                              <span class="checkmark_checkbox"></span>
                              {{place.period_soon_begin}} - {{place.period_soon_end}}
                            </label>
                            {% if place.period_late_begin != None %}
                                &nbsp;&nbsp;
                                <label class="container_checkbox" style="display:inline-block; font-size:12px; line-height:24px">
                                  <input class="unavailability_period" type="checkbox" name="max_period" id="id_max_period">
                                  <span class="checkmark_checkbox"></span>
                                  {{place.period_late_begin}} - {{place.period_late_end}}
                                </label>
                            {% endif %}
                            <div class="separador-10"> </div>

                            <span class="section_title">Repete...</span><br>
                            <select id="unavailability_repeat" name="" required>
                                <option value="">-</option>
                                <option value="week">Toda Semana</option>
                                <option value="biweek">Quinzenalmente</option>
                                <option value="month">Todo Mês</option>
                            </select>
                            <button type="submit" class="btn btn-default pull-right" style="font-size:12px" id="send_new_unavailability">Adicionar</button>

                            <div class="separador-10"> </div>
                            <div class="error_message" id="error_unavailability">EXEMPLO</div>
                            <div class="separador-50"> </div>

                            <div class="row" id="unavailability_container">
                            </div>

                        </div>
                    {% endif %}

            </div>





            {% if has_period %}
                <div class="col-md-6">
                    <h1>Pacotes de Preço</h1>
                    <div class="separador-10"> </div>
                    {% if not placeprice_list %}
                        <span style="color:red">Crie um pacote de preço para concluir!</span>
                        <div class="separador-10"> </div>
                    {% endif %}

                    Nome:<br>
                    <input type="text" required placeholder="Nome" class="placeprice_field" id="id_name" name="name" maxlength="32"/>
                    <div class="separador-20"> </div>






                    Descrição:<br>
                    <input type="text" id="id_description_input" placeholder="Descreva seu pacote de preço em pontos" maxlength="32"/>
                    <div class="add_button" type="description">+</div>
                    <br><br>
                    <div class="separador-5"> </div>
                    <div class="add_container" id="id_description_container"> </div>
                    <input type="text" class="placeprice_field" id="id_description" name="name" style="display:none">









                    <div class="separador-20"> </div>

                    Preço:<br>
                    <input type="text" required placeholder="R$ 00,00" step="any" class="placeprice_field" id="id_value" name="value" data-thousands="." data-decimal="," data-prefix="R$ "/>
                    <div class="separador-20"> </div>

                    Capacidade Mínima:&nbsp;&nbsp;
                    <select class="placeprice_field" id="id_capacity_min" name="capacity_min">
                        <option value="">-</option>
                        {% for i in 1000|create_range %}
                            <option value="{{i}}">{{i}}</option>
                        {% endfor %}
                    </select>
                    <div class="separador-20"> </div>

                    Capacidade Máxima:&nbsp;&nbsp;
                    <select class="placeprice_field" id="id_capacity_max" name="capacity_max">
                        <option value="">-</option>
                        {% for i in 501|create_range %}
                            {% if i == 500 %}
                                <option value="{{i}}">500+</option>
                            {% else %}
                                <option value="{{i}}">{{i}}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <div class="separador-10"> </div>

                    <span class="error_message" id="placeprice_add_error">
                        Preencha todos os espaços!
                    </span>
                    <div class="separador-20"> </div>

                    <button class="btn btn-default pull-right" style="font-size:12px" id="placeprice_add">Adicionar</button>

                    <div class="separador-40"> </div>
                    <hr class="line"/>
                    <div class="separador-20"> </div>
                    <div id="placeprice_container">
                    </div>

                </div>
            {% endif %}

        </section>










{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/CUSTOM_JS/core/maskmoney/src/jquery.maskMoney.js"></script>
{% endblock jquery %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
{% block old_custom_js %}{% endblock old_custom_js %}
{% block js_select_customize %}{% endblock js_select_customize %}





<script type="text/javascript" src="/static/slider/nouislider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
<script type="text/javascript" src="/static/CUSTOM_JS/user/control_panel/seller_place_availability.js"></script>
<script>
    // ====================================
    // Capacity
    // ====================================
    // source: https://refreshless.com/nouislider/
    // var slider_page = document.getElementById('aaa');
    // noUiSlider.create(slider_page, {
    //   start: [0,100],
    //   range: {
    //     'min': [0],
    //     'max': [5000]
    //   },

    // });
    // slider_page.noUiSlider.on("slide", function(values){
    //   $("#capacity_val").html(parseInt(values))
    // })
    // slider_page.noUiSlider.on("change", function(values){
    //   loading_icon()
    //   var get_places = get_places_pk()
    // })



</script>
{% endblock user_panel_content %}