{% extends "control_panel/seller_base.html"%}
{% block jquery %}{% endblock jquery %}
{% block page_title %}Novo Anúncio{% endblock page_title %}
{% block panel_title %}Novo Anúncio{% endblock panel_title %}
{% block user_panel_content %}
<style>
  h2 {
    margin:0 !important;
  }
</style>
<div style="width:100%; text-align:center">
  <h2>Obrigado por cadastrar seu anúncio!</h2>
  <h3>Para finalizar o processo, adicione as disponibilidades do seu local.</h3>
  <div class="separador-20"> </div>
  <span style="background-color:#98d000; padding:10px 20px; color:white; font-weight:bold; cursor:pointer" onclick="window.location='/usuario/anunciante/buffet/disponibilidade/?pk={{place_pk}}'">Disponibilidades do Local</span>
</div>










{% endblock user_panel_content %}

