{% extends "_base_user.html" %}
{% block page_title %}{{place.name}}{% endblock page_title %}
{% block content %}

<!-- =====================================================
CSS imports
===================================================== -->  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/static/CUSTOM_CSS/place/place_detail.css" type="text/css">
  <link rel="stylesheet" href="/static/CUSTOM_CSS/core/review.css" type="text/css">













<!-- =====================================================
Body code
===================================================== -->
  <!-- DETAIL HEADER begin -->
  <div class="separador-20"> </div>
  <div class="detail_header_title">
    <div class="detail_header_title_container">
      <h1 style="color:#102766">{{place.name}}</h1>
      {% if review_rates == "None" %}
         <figure class="pull-left" style="font-weight:bolder; color:#102766">
             Não há avaliações!
             <i class="fa fa-star"></i>
         </figure><br>
      {% else %}
        <span style="color:#102766" class="stars" data-rating="{{review_rates.rate_average}}" data-num-stars="5"></span>
        <span style="color:#102766">
          &nbsp;({{review_rates.n_review}} {% if review_rates.n_review %}Avaliação{% else %}Avaliações{% endif %})
        </span>
      {% endif %}
      <div class="separador-50"> </div>
      <div class="place_description">{{place.address}}</div>
      <div class="place_description">Capacidade do local: {{place_capacity}} pessoas</div>
      <div class="place_description">Tamanho do local: {{place_size}} m&#178;</div>
    </div>
  </div><!--
  --><div class="detail_header_img center-cropped img-center" style="background-image: url(/media/{{photo_list.0}});">
      <div class="detail_header_img_mov" style="left:0px; padding-left:10px;">
        <span class="detail_header_img_round" type="left">&#8249;</span>
      </div>
      <div class="detail_header_img_mov" style="right:0px; padding-right:10px;">
        <span class="detail_header_img_round" type="right">&#8250;</span>
      </div>
  </div>
  <div class="separador-50"> </div>
  <!-- DETAIL HEADER end -->










  <!-- DETAIL DESCRIPTION begin -->
  <section class="container">
    <div class="row">
      <div class="col-md-3 col-md-push-9">
        {% for photo in photo_list %}
          <div class="img-center detail_photo {% if forloop.counter == 1 %}detail_photo_active{% endif %}" style="background-image: url(/media/{{photo}});"></div>
        {% endfor %}
        <div class="separador-10"> </div>
      </div>
      <div class="col-md-9 col-md-pull-3">
        <h1 class="detail_wrapper_title">Sobre o Local</h1>
        <div class="detail_description_text justify_text">
          {{place.description}}
        </div>
        <div class="separador-80"> </div>
        <!-- Additional Information -->
        {% if additionalinformation|length > 0 %}
          <h1 class="detail_wrapper_title">Informações Adicionais</h1>
          <div class="separador-10"> </div>
          <div class="center_element">
            {% for info in additionalinformation %}
              {% if not forloop.first %}-->{% endif %}
              <div class="detail_description_card">{{info.name}}</div>
              {% if not forloop.last %}&nbsp;&nbsp;&nbsp;&nbsp;<!--{% endif %}
            {% endfor %}<span style="display:none">--></span>
          </div>
          <div class="separador-80"> </div>
        {% endif %}
        {% if place.decoration or place.children_rides %}
          <div class="row">
            {% if place.decoration %}
              <div class="col-md-6">
                <h1 class="detail_wrapper_title">Decorações</h1>
                <div class="separador-10"> </div>
                <div>
                  {% for decoration in place.decoration.0 %}
                    {% if not forloop.first %}-->{% endif %}
                    <div class="detail_description_card">{{decoration}}</div>
                    {% if not forloop.last %}&nbsp;<!--{% endif %}
                  {% endfor %}<span style="display:none">--></span>
                </div>
                <div class="separador-80"> </div>
              </div>
            {% endif %}
            {% if place.children_rides %}
              <div class="col-md-6">
                <h1 class="detail_wrapper_title">Brinquedos</h1>
                <div class="separador-10"> </div>
                <div>
                  {% for children_rides in place.children_rides.0 %}
                    {% if not forloop.first %}-->{% endif %}
                    <div class="detail_description_card">{{children_rides}}</div>
                    {% if not forloop.last %}&nbsp;<!--{% endif %}
                  {% endfor %}<span style="display:none">--></span>
                </div>
                <div class="separador-80"> </div>
              </div>
            {% endif %}
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  <!-- DETAIL DESCRIPTION end -->



  <!-- DETAIL MAP begin -->
  <section class="container">
    <div id="map" style="height:300px; width:100%"></div>
  </section>
  <div class="separador-80"> </div>
  <!-- DETAIL MAP end -->




  <!-- DETAIL REVIEW begin -->
  {% if review_rates != "None" %}
    <section class="container">
      <h1 class="detail_wrapper_title">Avaliações</h1>
      <div style="width:100%; text-align:center;">
        {% for review in review_list %}
          <div class="review_container">
            <div style="width:20%; display:inline-block; text-align:center; vertical-align:top">
              <div class="center-cropped img-center buyerprofile_photo" style="background-image: url({% if review.buyerprofile.photo %}/media/{{review.buyerprofile.photo}}{% else %}/static/img/icon/person.png{% endif %});"></div>
            </div><!--


            --><div style="width:80%; display:inline-block; padding:10px 0 10px; color:#102766">
              <span class="review_text_bold">{{review.buyerprofile.name}}</span>
              <span style="color:#102766" class="stars" data-rating="{{review.rate}}" data-num-stars="5"></span> 
              ({{review.rate}})<br>
              {{review.creation}}
              <div class="separador-10"> </div>
              <span class="review_text_bold">Comentário</span><br>
              {{review.comment}}
              <div class="separador-10"> </div>
              <span class="review_text_bold see_more_reviews" pk="{{review.pk}}">(Ver mais Notas)</span><br>



              <div class="more_rating more_rating_{{review.pk}}">
                Infraestrutura - 
                <span style="color:#102766" class="stars" data-rating="{{review.rate_infraestructure}}" data-num-stars="5"></span> ({{review.rate_infraestructure}})<br> 
                Brinquedos - 
                <span style="color:#102766" class="stars" data-rating="{{review.rate_rides}}" data-num-stars="5"></span> ({{review.rate_rides}})<br>
                Custo-Benefício - 
                <span style="color:#102766" class="stars" data-rating="{{review.rate_cost_benefit}}" data-num-stars="5"></span> ({{review.rate_cost_benefit}})<br>
                Atendimento - 
                <span style="color:#102766" class="stars" data-rating="{{review.rate_attendance}}" data-num-stars="5"></span> ({{review.rate_attendance}})<br>
                Opinião das Crianças - 
                <span style="color:#102766" class="stars" data-rating="{{review.rate_children_opinion}}" data-num-stars="5"></span> ({{review.rate_children_opinion}})<br>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </section>
    <div class="separador-80"> </div>
  {% endif %}
  <!-- DETAIL REVIEW end -->






  <!-- DETAIL CALENDAR begin -->
  <section class="container">
    <div class="row">
      <div class="col-md-6">
        <h1 class="detail_wrapper_title">Disponibilidade</h1>
        <div class="separador-30"> </div>
        <div style="width:100%; -webkit-box-align:center; -webkit-box-pack:center; display:-webkit-box;r">
          <div>{% include "calendar.html" %}</div>
        </div>
      </div>
      <div class="col-md-6" style="text-align:center">
        <h1 class="detail_wrapper_title" style="text-align:right">Preços</h1>
        <h1>=========== A FAZER ===========</h1>
        {% for price in price_list %}
          {{price}}
        {% endfor %}
        <h1>=========== A FAZER ===========</h1>
      </div>
    </div>
  </section>
  <div class="separador-80"> </div>
  <!-- DETAIL CALENDAR end -->










  <!-- DETAIL OTHER begin -->
  <section class="container">
    <div class="row">
      <div class="col-md-9">
        {% if place.video %}
          <h1 class="detail_wrapper_title">Vídeo do Local</h1>
          <div class="separador-30"> </div>
          <div class="center_element">
            <iframe src="{{place.video}}" id="place_video"></iframe>
          </div>
          <div class="separador-80"> </div>
        {% endif %}
        {% if place.menu %}
          <h1 class="detail_wrapper_title">Menu</h1>
          <div class="separador-30"> </div>
          <div class="center_element">
            <embed src="/media/{{place.menu}}" id="place_menu"/>
          </div>
          <div class="separador-80"> </div>

          
        {% endif %}

      </div>
      <div class="col-md-3"></div>
    </div>
  </section>
  <!-- DETAIL OTHER end -->

                  




























<!-- =====================================================
JavaScript imports
===================================================== -->
{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
<script type="text/javascript" src="/static/CUSTOM_JS/place/place_detail.js"></script>
<script type="text/javascript" src="/static/CUSTOM_JS/core/review.js"></script>
{% block old_custom_js %}{% endblock old_custom_js %}


<!-- MAPS -->
<script>
  function initMap() {
    var lat = parseFloat("{{place.lat}}".replace(',','.'))
    var lng = parseFloat("{{place.lng}}".replace(',','.'))
    var place_name = "{{place.name}}"
    var place_address = "{{place.address}}"
    var myLatLng = {lat: lat, lng: lng};

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 15,
      center: myLatLng
    });

    var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">' + place_name + '</h1>'+
        '<div id="bodyContent">'+
        '<p>' + place_address + '</p>'+
        '</div>'+
        '</div>'

    var infowindow = new google.maps.InfoWindow({
      content: contentString
    })


    var marker = new google.maps.Marker({
      position: myLatLng,
      map: map,
      title: 'Hello World!'
    })


    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });










  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgsG2vhClFly8kadgTOHCX4wucOwgTiuw&callback=initMap"> </script>
{% block js_maps %}{% endblock js_maps %}
{% endblock content %}

