{% extends "_base_user.html" %}
{% load datetime_tags %}
{% block page_title %}{{place.name}}{% endblock page_title %}
{% block js_select_customize %}{% endblock js_select_customize %}
{% block content %}

<!-- =====================================================
CSS imports
===================================================== -->  
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/custom_container.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/place/place_purchase.css" type="text/css">



<!-- =====================================================
Body code
===================================================== -->
<div class="separador-30"> </div>
<section class="container">




	<div style="width:100%; text-align:center">
		Compra realizada com sucesso!
	</div>




	<div class="separador-100"> </div>
	<div class="separador-100"> </div>






















</section>







{% endblock content %}