{% extends "_base_user.html" %}
{% block page_title %}{{place.name}}{% endblock page_title %}
{% block js_select_customize %}{% endblock js_select_customize %}
{% block content %}
{% load datetime_tags %}
{% load general_tags %}
<!-- =====================================================
CSS imports
===================================================== -->  
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/custom_container.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/place/place_buy.css" type="text/css">
<link rel="stylesheet" href="/static/slider/nouislider.min.css" type="text/css">



<!-- =====================================================
Body code
===================================================== -->
<div class="separador-30"> </div>
<section class="container">
  <input type="text" id="placeprice_pk" style="display:none"/>
  <input type="text" id="placeprice_value" style="display:none"/>
  <div class="row">
    <div class="col-md-4">
          <div class="center-cropped img-center" style="width:100%; height:200px;background-image: url(/media/{{place.photo}});"></div>
    </div>
    <div class="col-md-4">
      <span class="place_title" style="font-size:16px">{{place.name}}</span><br>
      <div class="separador-5"> </div>
      <span class="place_title">Capacidade:</span> {{capacity}}<br>
      <div class="separador-5"> </div>
      <span class="place_title">Endereço:</span> {{place.address}}<br> 
    </div>
    <div class="col-md-4">



      <!-- ========================= Block Avaliação ========================= -->
      {% if place.review_list.review_rates != "None" %}
          <figure class="pull-left" style="vertical-align:top; font-weight:bold">
              Avaliação <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_list.review_rates.rate_average}}" data-num-stars="5"></span>

              
          </figure>
          <div class="pull-right">({{place.review_list.review_rates.rate_average}})</div><br>

          <div class="separador-20"> </div>
          <figure style="display:inline-block;">
              Infraestrutura 
              <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_list.review_rates.rate_infraestructure}}" data-num-stars="5"></span>

              
          </figure>
          <div class="pull-right">({{place.review_list.review_rates.rate_infraestructure}})</div>

          <div class="separador-5"> </div>
          <figure style="display:inline-block;">
              Brinquedos 
              <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_list.review_rates.rate_rides}}" data-num-stars="5"></span>

              
          </figure>
          <div class="pull-right">({{place.review_list.review_rates.rate_rides}})</div>

          <div class="separador-5"> </div>
          <figure style="display:inline-block;">
              Custo-Benefício 
              <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_list.review_rates.rate_cost_benefit}}" data-num-stars="5"></span>

              
          </figure>
          <div class="pull-right">({{place.review_list.review_rates.rate_cost_benefit}})</div>

          <div class="separador-5"> </div>
          <figure style="display:inline-block;">
              Atendimento 
              <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_list.review_rates.rate_attendance}}" data-num-stars="5"></span>

              
          </figure>
          <div class="pull-right">({{place.review_list.review_rates.rate_attendance}})</div>

          <div class="separador-5"> </div>
          <figure style="display:inline-block;">
              Opinião das Crianças 
              <span style="color:#70b7c8;" class="stars" data-rating="{{place.review_list.review_rates.rate_children_opinion}}" data-num-stars="5"></span>

              
          </figure>
          <div class="pull-right">({{place.review_list.review_rates.rate_children_opinion}})</div>

      {% else %}
        <span class="place_title" style="font-size:16px">Este Buffet ainda não foi avaliado!</span><br>
      {% endif %}







</div>  






  </div>
  <div class="separador-50"> </div>
  <div id="buyingflux_checkout">
    <div class="row">
      <div class="{% if not placeprices_none %}col-md-12{% else %}col-md-6{% endif %}">
        <div class="page_title">
          {% if not placeprices_none %}Selecione o pacote que mais se encaixa para você!
          {% else %}Não existem pacotes para a quantidade de pessoas desejada...
          {% endif %}
        </div>
        {% if placeprices_none %}
          <div class="separador-10"> </div>
          <div class="page_title" style="font-size:14px">
            Mas existem essas opções:
          </div>
        {% endif %}

















      {% if not placeprices_none %}
        <div class="separador-10"> </div>
        <div class="buyingflux_form_title">
          Número de convidados: <span id="capacity_string">{{capacity}}</span>
        </div>
        <input type="number" id="capacity_form" style="display:none" value="{{capacity}}"/>
        <div class="separador-15"> </div>
        <div id="search_capacity" class="pnleft_input" style="width:100%; max-width:300px;"></div>
        <input type="text" id="date_form" style="display:none"/>
        <div class="separador-10"> </div>

        <div id="check_availability" style="background-color:#00a8b6; font-weight:bold; color:white; padding:10px; display:inline-block; cursor:pointer">Recalcular Convidados</div>
                    
      {% endif %}

























        <div class="separador-20"> </div>
        <div><!--
          {% for placeprice in placeprices %}
            --><div class="placeprice_card_container">
                <div class="placeprice_card" pk="{{placeprice.pk}}" placeprice="{{placeprice.value|floatformat:2}}" name-price="{{placeprice.name}}" value-price="{{placeprice.final_value|my_float_format}}">
                  <div class="separador-10"> </div>
                  <div class="placeprice_card_name">{{placeprice.name}}</div><br>
                  <div class="placeprice_card_description_long">{{placeprice.description_long}}</div><br>
                  {% for description in placeprice.description %}
                    <span class="placeprice_card_attr">- {{description}}</span><br>
                  {% endfor %}
                  <div class="separador-10"> </div>
                  <span class="placeprice_card_attr"><b>Mínimo:</b> {{placeprice.capacity_min}} convidados</span><br>
                  <span class="placeprice_card_attr"><b>Máximo:</b> {{placeprice.capacity_max}} convidados</span><br>
                  <span class="placeprice_card_attr"><b>Valor:</b> R${{placeprice.final_value|my_float_format}}</span><br>
                  <span class="placeprice_card_attr"><b>Por convidado:</b> R${{placeprice.final_value_per_person|my_float_format }}</span><br>
                  {% comment %} <span class="placeprice_card_attr"><b>Valor Mínimo:</b> R${{capacity|floatformat:2}}</span><br> {% endcomment %}
                  <div class="separador-10"> </div>
                </div>
              </div><!--
          {% endfor %}
        --></div>
        <div class="separador-20"> </div>
        <div style="width:100%; text-align:center">
          <div class="place_back" onclick="window.history.back()">Voltar</div>&nbsp;&nbsp;
          <div id="place_checkout" class="place_checkout_disable pay_button_disabled">Reservar Buffet</div>&nbsp;&nbsp;
        </div>
      </div>







      {% if placeprices_none %}
        <div class="col-md-6">
          <div class="page_title">Ou selecione outra opção</div>
          <div class="separador-20"> </div>
          {% include "calendar-detail.html" %}
        </div>
      {% endif %}
    </div>
  </div>















  <div id="payment_container">
    <div class="page_title">Detalhes da Reserva</div>
    <i style="font-size:12px">*A cobrança de sua reserva só será realizada mediante a confirmação da reserva por parte do buffet selecionado.</i><br>
    <div class="separador-5"> </div>
    <span class="place_title">Nome do Pacote escolhido:</span> <span id="placeprice_chosen_name"></span>
    <div class="separador-5"> </div>
    <span class="place_title">Data do Evento:</span> {{day}}/{{month}}/{{year}} das {{begin}} às {{end}}
    <div class="separador-5"> </div>
    <span class="place_title">Capacidade:</span> {{capacity}} convidados
    <div class="separador-5"> </div>
    <span class="place_title">Valor:</span> <span id="placeprice_chosen_value"></span>
    <div class="separador-15"> </div>


    <hr class="line"/>
    <div class="separador-15"> </div>
    <div class="page_title">Reserva</div>
    <div class="separador-20"> </div>
    <div class="pay_col pay_col_editable" style="padding-left:0px;" id="col_zip">
      <div class="pay_title" style="position:relative">Código Postal {% include "_question_mark.html" %}</div>

      <input class="pay_editable_field" type="text" id="zip_code" maxlength="9"/>
      {# <br><div class="error_message" style="float:left" id="zip_code_error">CEP não encontrado</div> #}
    </div><!--
    --><div class="pay_col pay_col_editable" id="col_number">
      <div class="pay_title">Número</div>
      <input class="pay_editable_field pay_noneditable_field" type="text" id="number" readonly/>
    </div>



    <div class="pay_col" style="padding-left:0px;">
      <div class="pay_title">Estado</div>
      <input class="pay_noneditable_field" type="text" id="id_state" readonly/>
    </div><!--
    --><div class="pay_col">
      <div class="pay_title">Cidade</div>
      <input class="pay_noneditable_field" type="text" id="id_city" readonly/>
    </div>


    <div class="pay_col" style="padding-left:0px;">
      <div class="pay_title">Bairro</div>
      <input class="pay_noneditable_field" type="text" id="id_neighbourhood" readonly/>
    </div><!--
    --><div class="pay_col">
      <div class="pay_title">Rua</div>
      <input class="pay_noneditable_field" type="text" id="id_street" readonly/>
    </div>
    <div class="separador-40"> </div>


    
      <div class="place_back pull-left" onclick="window.history.back()">Voltar</div>&nbsp;&nbsp;

    <!--<button id="pay-boleto" class="pay_button pay_button_disabled">Pagar por Boleto Bancário</button>-->
    <button id="pay-credit-card" class="pay_button pay_button_disabled">Pagar por Cartão</button>

  </div>
</section>
<div class="separador-100"> </div>

<!-- =====================================================
JS imports
===================================================== -->
{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/static/CUSTOM_JS/place/place_buy.js"></script>
    <!-- SCRIPT PAGAR.ME -->
    <script src="https://assets.pagar.me/pagarme-js/3.0/pagarme.min.js"></script>
    <script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>
    <script type="text/javascript" src="/static/slider/nouislider.min.js"></script>
    {% block old_custom_js %}{% endblock old_custom_js %}
<script>

      // Credit Card
      $(document).on('click', "#pay-credit-card", function() {
        console.log('PAGARME')
        var checkout = new PagarMeCheckout.Checkout({
          encryption_key: "{{encryption_key}}",
          success: function(data) {
            var url_str = "/buffet/finalizar-compra/?data=" + encodeURIComponent(JSON.stringify(data))
            url_str += "&place_pk=" + "{{place_pk}}"
            url_str += "&capacidade=" + "{{capacity}}"
            url_str += "&date=" + encodeURIComponent("{{date|safe}}")
            url_str += "&period=" + encodeURIComponent("{{period|safe}}")
            url_str += "&placeprice_pk=" + $("#placeprice_pk").val()

            url_str += "&zip_code=" + $("#zip_code").val()
            url_str += "&number=" + $("#number").val()
            url_str += "&state=" + $("#id_state").val()
            url_str += "&city=" + $("#id_city").val()
            url_str += "&neighbourhood=" + $("#id_neighbourhood").val()
            url_str += "&street=" + $("#id_street").val()
            window.location.replace(url_str);
          },
          error: function(err) {
            console.log(err);
          },
          close: function() {
            console.log('The modal has been closed.');
          }
        });
        checkout.open({
          amount: $("#placeprice_value").val(),
          maxInstallments: 12,
          uiColor: "#41b3bd",
          headerText: "Hello!",
          paymentButtonText: "Salut!",
          buttonText: 'Pagar',
          buttonClass: 'botao-pagamento',
          customerData: 'false',
          createToken: 'false',
          paymentMethods: 'credit_card',
          customer: {
            external_id: '#123456789',
            name: 'Fulano',
            type: 'individual',
            country: 'br',
            email: 'fulano@email.com',
            documents: [
              {
                type: 'cpf',
                number: '71404665560',
              },
            ],
            phone_numbers: ['+5511999998888'],
            birthday: '1985-01-01'
          },
        });
      });




      // Boleto
      // $(document).on('click', "#pay-boleto", function() {
      //   var checkout = new PagarMeCheckout.Checkout({
      //     encryption_key: "{{encryption_key}}",
      //     success: function(data) {
      //       console.log(data);
      //     },
      //     error: function(err) {
      //       console.log(err);
      //     },
      //     close: function() {
      //       console.log('The modal has been closed.');
      //     }
      //   });
      //   checkout.open({
      //     amount: 8000,
      //     buttonText: 'Pagar',
      //     buttonClass: 'botao-pagamento',
      //     customerData: 'false',
      //     createToken: 'false',
      //     paymentMethods: 'boleto',
      //     customer: {
      //       external_id: '#123456789',
      //       name: 'Fulano',
      //       type: 'individual',
      //       country: 'br',
      //       email: 'fulano@email.com',
      //       documents: [
      //         {
      //           type: 'cpf',
      //           number: '71404665560',
      //         },
      //       ],
      //       phone_numbers: ['+5511999998888', '+5511888889999'],
      //       birthday: '1985-01-01'
      //     },
      //   });
      // });

    </script>
    <script>
      // Capacity
      update_capacity()
      // source: https://refreshless.com/nouislider/
      var slider_page = document.getElementById('search_capacity');
      var start_value = parseInt({{capacity}})
      noUiSlider.create(slider_page, {
        start: [start_value],
        range: {
          'min': [0],
          'max': [500]
        },
        step: 10,
        connect: [true, false],
      });
      slider_page.noUiSlider.on("slide", function(values){
        if(values<500){
          $("#capacity_string").html(parseInt(values))
        } else {
          $("#capacity_string").html("500+")
        }
        $("#capacity_form").val(parseInt(values))
        update_capacity()
      })
      slider_page.noUiSlider.on("change", function(values){
      })



      function update_capacity(){
        var url_string = window.location.href
        var url = new URL(url_string);
        var place_pk = url.searchParams.get("place_pk");

        var capacidade = $("#capacity_form").val()

        var date = url.searchParams.get("date");
        date_form = encodeURIComponent(date)

        var period = url.searchParams.get("period");
        period_form = encodeURIComponent(period)


        var url_str = "/buffet/comprar/?place_pk=" + "{{place_pk}}" +  "&capacidade=" + capacidade + "&date=" + date_form + "&period=" + period_form


        $("#check_availability").attr("onClick", "location='" + url_str + "'")


      }




















      // Help tip
      $("#help_tip p").html("O código postal pode ser consultado no site dos correios, <a href='http://www.buscacep.correios.com.br/sistemas/buscacep/' target='_blank' style='text-decoration:underline'>aqui</a>.")
      $("#help_tip").css("position", "absolute")
      $("#help_tip").css("top", "-5px")
      $("#help_tip").css("left", "120px")



    </script>



{% endblock content %}

