{% extends "_base_user.html" %}
{% load general_tags %}
{% block page_title %}Buffets{% endblock page_title %}
{% block content %}


<!-- ==================================================================================================== -->
<!--                                                                                                      -->
<!--                                               CSS                                                    -->
<!--                                                                                                      -->
<!-- ==================================================================================================== -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/place/place_list.css" type="text/css">
<link rel="stylesheet" href="/static/slider/nouislider.min.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/radio_checkbox.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/calendar_colored.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/review.css" type="text/css">








<div id="places_pk" style="display:none">{{places_pk}}</div>
<div id="places_container"></div>
<section class="container">
  <div class="row">





<!-- ==================================================================================================== -->
<!--                                                                                                      -->
<!--                                          Panel Left                                                  -->
<!--                                                                                                      -->
<!-- ==================================================================================================== -->
    <div class="col-md-3 col-sm-4">
      <aside id="sidebar">
        <div class="toggle_buyer_seller_base toggle_button" style="cursor:pointer">
          <div class="separador-20"> </div>
          <h1 style="color:#4fa7bc">OPÇÕES</h1>
          <span class="toggle_pnleft_sign">+</span>
          <div class="separador-15"> </div>
        </div>

        <section class="toggle_menu">
          <div class="pnleft_card">
            <label class="pnleft_label">Data do Evento</label>
            <div class="center_element">
              <input class="pnleft_input calendar_input" type="text" value="{{date}}" style="border-bottom:1px solid #c5c5c5; box-shadow:none; padding:4px; text-align:center;" id="date_id" disabled="true" />
              {% include "calendar-input.html" %}
            </div>
          </div>
          <div class="separador-20"> </div>

          <div class="pnleft_card">
            <label class="pnleft_label">
              Capacidade: <span id="capacity_val">{% if not capacity_exists %}{{capacity}}{% else %}sem{% endif %}</span> pessoas
            </label>
            <div class="separador-5"> </div>
            <div id="search_capacity" class="pnleft_input" style="width:90%; min-width:10px; border-radius:0; margin:auto"></div>
          </div>


          <div class="pnleft_card" style="background-color:white">
            <label class="pnleft_label">Informações Adicionais</label>
            <div class="separador-10"> </div>
            <div class="pnleft_input">
              {% for info in place_additional_information %}
                <label class="container_checkbox" style="display:inline;">
                  <input type="checkbox" class="additional_information_checkbox" name="{{info.name}}">
                  <span class="checkmark_checkbox"></span>
                </label>
                <label style="display:inline; color:#747474">{{info.label}}</label><br>
              {% endfor %}
            </div>
          </div>

        </section>
        <hr class="line" style="margin:0; -webkit-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.05)"/>
      </aside>
    </div>
















<!-- ==================================================================================================== -->
<!--                                                                                                      -->
<!--                                           List Item                                                  -->
<!--                                                                                                      -->
<!-- ==================================================================================================== -->
    <div class="col-md-9 col-sm-8">
      <div class="separador-20"> </div>
      <figure class="filter clearfix" style="margin:0">
        <div class="row">
          <div class="col-md-8">
            <div style="width:100%; padding-right:40px; position:relative">
              <input type="text" style="width:100%; height:31px; font-size:36px" class="pnleft_input" id="place_id" value="{{address}}" placeholder="Localização ou Nome"/>
              <div id="search_button">
                <i class="fa fa-search"> </i>
              </div>
            </div>
            <div class="separador-10"> </div>
          </div>
          <div class="col-md-4">
            <div class="pull-right">
              <aside class="sorting">
                  <select class="framed" name="sort" id="order_by">
                    <option value="1">Relevância</option>
                    <option value="2">Preço - Maior</option>
                    <option value="3">Preço - Menor</option>
                    <option value="4">Avaliação - Maior</option>
                    <option value="5">Nome - A-Z</option>
                    <option value="6">Nome - Z-A</option>
                  </select>
              </aside>
            </div>
          </div>
        </div>
      </figure>



      <!-- ====================================================== -->
      <!--                       List Items                       -->
      <!-- ====================================================== -->
      <div class="separador-20"> </div>
      <section class="block equal-height" style="padding-top:0" id="list_item">

      </section>
















    </div>
  </div>
</section>





















<!-- ==================================================================================================== -->
<!--                                                                                                      -->
<!--                                          Javascript                                                  -->
<!--                                                                                                      -->
<!-- ==================================================================================================== -->
{% block jquery %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/slider/nouislider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
  <script type="text/javascript" src="/static/CUSTOM_JS/core/review.js"></script>
{% endblock jquery %}
  <script type="text/javascript" src="/static/CUSTOM_JS/place/place_list.js"></script>

  <script>


    // ====================================
    // Toggler for Mobile
    // ====================================
    $(".toggle_buyer_seller_base").click(function() {
      if($(".toggle_pnleft_sign").html() == "+"){
        $(".toggle_pnleft_sign").html("&minus;")
      } else {
        $(".toggle_pnleft_sign").html("+")
      }
      $(".toggle_menu").slideToggle();
    });


    // ====================================
    // Capacity
    // ====================================
    // source: https://refreshless.com/nouislider/
    var slider_page = document.getElementById('search_capacity');
    var start_value = parseInt("{{capacity}}")
    noUiSlider.create(slider_page, {
      start: [start_value],
      range: {
        'min': [0],
        'max': [5000]
      },
      step: 1,
      connect: [true, false],
    });
    slider_page.noUiSlider.on("slide", function(values){
      $("#capacity_val").html(parseInt(values))
    })
    slider_page.noUiSlider.on("change", function(values){
      loading_icon()
      var get_places = get_places_pk()
    })


    // ====================================
    // Date
    // ====================================
    $(document).ready(function(){
      $('#date_id').mask("00 / 00 / 0000",{placeholder:"dd / mm / aaaa"});
    })
    $(document).on("click", ".calendar_class_day", function(){
      loading_icon()
      var get_places = get_places_pk()
    })



    // ====================================
    // Place Aditional Information on Change
    // ====================================
    $(".additional_information_checkbox").on("change", function(){
      loading_icon()
      if($(this).attr("checked")=="checked"){
        $(this).removeAttr("checked")
      } else {
        $(this).attr("checked", "checked")
      }
      var items_pk = get_places_pk()
    })




    // ====================================
    // Search
    // ====================================
    $("#search_button").click(function(){
      loading_icon()
      var get_places = get_places_pk()
    })



    // =================
    // AUXILIAR - Get Pnl Left
    // =================
    // Get all information from Panel Left
    function get_pnleft(){
      var search = $("#place_id").val()
      var date = $("#date_id").val()
      var capacity = $("#capacity_val").html()
      var order_by = $("#order_by").val()

      var additional_informations = []
      $(".additional_information_checkbox").each(function(){
        if($(this).attr("checked")=="checked"){
          additional_informations.push($(this).attr("name"))
        }
      })
      return {
        "search":search,
        "date":date,
        "capacity":capacity,
        "order_by":order_by,
        "additional_informations":additional_informations,
      }
    }


    function get_places_pk() {
      var pnleft = JSON.stringify(get_pnleft())
      var option = $("#order_by").val()
      $.ajax({
        url: "/buffet/ajax/get/",
        dataType: 'json',
        data: {
          "pnleft":pnleft,
          "option":option,

        },
        success: function (data) {
          var items_pk = JSON.stringify(data.items_pk)
          $("#places_pk").html(items_pk)
          load_places(items_pk)
        }
      })      
      return items_pk
    }













    // ==================== 
    // LIST ITEMS
    // ==================== 
    // Description
    $(document).on("mouseenter", ".place_item", function(){
      var pk = $(this).attr("pk")
      $("#overlay_" + pk).fadeIn(300)
    })
    $(document).on("mouseleave", ".place_item", function(){
      var pk = $(this).attr("pk")
      $("#overlay_" + pk).fadeOut(300)
    })






















    // ====================================
    // Google Init Auto Complete
    // ====================================
    function initAutocomplete() {
      //----autocomplete start
      var input = (document.getElementById('place_id'));
      var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-24.230623, -53.141559),
        new google.maps.LatLng(-20.533727, -44.352497)
      );
      var options = {
          bounds:defaultBounds
      };
      var autocomplete = new google.maps.places.Autocomplete(input, options);
      //----autocomplete end
    }


  </script>
{% block js_maps %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgsG2vhClFly8kadgTOHCX4wucOwgTiuw&libraries=places&callback=initAutocomplete&language=pt"async defer></script>
{% endblock js_maps %}

{% block js_select_customize %}
{% endblock js_select_customize %}
{% endblock content %}




