{% extends "_base_user.html" %}
{% load general_tags %}
{% block page_title %}Buffets{% endblock page_title %}
{% block content %}


<!-- ==================================================================================================== -->
<!--                                                                                                      -->
<!--                                               CSS                                                    -->
<!--                                                                                                      -->
<!-- ==================================================================================================== -->
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/place/place_list.css" type="text/css">
<link rel="stylesheet" href="/static/slider/nouislider.min.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/radio_checkbox.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/calendar_colored.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/review.css" type="text/css">









<section class="container">
  <div class="row">





<!-- ==================================================================================================== -->
<!--                                                                                                      -->
<!--                                          Panel Left                                                  -->
<!--                                                                                                      -->
<!-- ==================================================================================================== -->
    <div class="col-md-3 col-sm-4">
      <aside id="sidebar">
        <div class="toggle_buyer_seller_base toggle_button" style="cursor:pointer">
          <div class="separador-20"> </div>
          <h1 style="color:#4fa7bc">OPÇÕES</h1>
          <span class="toggle_pnleft_sign">+</span>
          <div class="separador-15"> </div>
        </div>

        <section class="toggle_menu">
          <h1 style="color:#383838; text-transform:none">Refine sua Busca</h1>
          <div class="separador-10"> </div>

          <div class="pnleft_card">
            <label class="pnleft_label">Localização</label>
            <input class="pnleft_input" id="place_id" type="text" value="{{address}}" style="border-bottom:1px solid #c5c5c5; box-shadow:none; padding:4px"/>
          </div>
          <div class="separador-20"> </div>

          <div class="pnleft_card">
            <label class="pnleft_label">Data do Evento</label>
            <div class="center_element">
              <input class="pnleft_input calendar_input" type="text" value="{{date}}" style="border-bottom:1px solid #c5c5c5; box-shadow:none; padding:4px; text-align:center;" id="date_id"/>
              {% include "calendar-input.html" %}
            </div>
          </div>
          <div class="separador-20"> </div>


          <div class="pnleft_card">
            <label class="pnleft_label">Capacidade: <span id="capacity_val">{{capacity}}</span> pessoas</label>
            <div class="separador-5"> </div>
            <div id="search_capacity" class="pnleft_input" style="width:90%; min-width:10px; border-radius:0"></div>
          </div>
          <div class="separador-10"> </div>
          


          <div class="pnleft_card" style="background-color:white">
            <label class="pnleft_label">Informações Adicionais</label>
            <div class="separador-10"> </div>
            <div class="pnleft_input">
              {% for info in place_additional_information %}
                <label class="container_checkbox" style="display:inline;">
                  <input id="id_accepts_newsletter_seller" type="checkbox" name="accepts_newsletter_seller" {% if field.value %}checked{% endif %}>
                  <span class="checkmark_checkbox"></span>
                </label>
                <label style="display:inline; color:#747474">{{info.label}}</label><br>
              {% endfor %}
            </div>
          </div>
        </section>
        <hr class="line" style="margin:0; -webkit-box-shadow:0 1px 1px 0 rgba(0, 0, 0, 0.05)"/>
      </aside>
    </div>
















<!-- ==================================================================================================== -->
<!--                                                                                                      -->
<!--                                           List Item                                                  -->
<!--                                                                                                      -->
<!-- ==================================================================================================== -->
    <div class="col-md-9 col-sm-8">
      <div class="separador-20"> </div>
      <figure class="filter clearfix" style="margin:0">
        <div class="pull-right">
          <aside class="sorting">
            <span>Ordenar</span>
            <div class="form-group">
              <select class="framed" name="sort">
                <option value="">Relevância</option>
                <option value="2">Preço - Maior</option>
                <option value="2">Preço - Menor</option>
                <option value="2">Avaliação - Maior</option>
                <option value="1">Nome - A-Z</option>
                <option value="1">Nome - Z-A</option>
              </select>
            </div>
          </aside>
        </div>
      </figure>
      <section class="block equal-height" style="padding-top:0">
        {% if place_list.paginator.num_pages > 1 %}
          <ul class="pagination pull-left">
            {% if place_list.has_previous %}
                <li><a href="?/place={{place}}&date={{date}}&capacity={{capacity}}&page={{ place_list.previous_page_number }}" class="previous"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            {% for page_number in place_list.paginator.place_range %}
                {% if page_number == place_list.number %}
                  <li class="active"><a href="?/place={{place}}&date={{date}}&capacity={{capacity}}&page={{page_number}}">{{page_number}}</a></li>
                {% else %}
                  <li><a href="?/place={{place}}&date={{date}}&capacity={{capacity}}&page={{page_number}}">{{page_number}}</a></li>
                {% endif %}
            {% endfor %}
            {% if place_list.has_next %}
              <li><a href="?/place={{place}}&date={{date}}&capacity={{capacity}}&page={{ place_list.next_page_number }}" class="next"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
          <div class="separador-70"> </div>
        {% else %}
          <div class="separador-40"> </div>
        {% endif %}
        <div class="row">






          {% for place in place_list %}
            <!-- ====================================================== -->
            <!--                       Each Item                        -->
            <!-- ====================================================== -->
            <div class="col-md-4 col-sm-6">
              <div class="place_item" pk="{{place.pk}}">
                <div class="image">
                  <a href="/buffet/detalhar/?pk={{place.pk}}">
                    <div class="overlay" id="overlay_{{place.pk}}">
                      <div class="inner">
                        <div class="content">
                          <p>{{place.description}}</p>
                        </div>
                      <div class="separador-20"> </div>
                      <div class="center_element">
                        <span style="color:#b4b5b4"><img src="/static/img/icon/person.png" alt="" style="width:10px;">&nbsp;&nbsp;{{place.capacity|only_integer}} pessoas</span>
                      </div>

                      </div>
                    </div>
                    <div class="place_featured">
                      <img src="/static/img/123festas/logo_white_squared.png">
                    </div>
                    <div class="img-center center-cropped place_image" style="background-image: url(/media/{{place.photo}});"></div>
                  </a>
                </div>
                <div class="wrapper place_description_wrapper">
                  <div class="place_description_cell">
                    <a class="place_name" href="/buffet/detalhar/?pk={{place.pk}}">
                      {{place.name}}
                    </a>
                    <div class="separador-2"> </div>
                    <figure class="place_address">{{place.address}}</figure>
                    <h4 class="place_price">R$</h4>
                    <h3 class="place_price">{{place.placeprice_min}}</h3>
                  </div>
                  <div class="place_description_cell" style="height:50px;"/>
                    <div class="separador-5"> </div>
                    {% if place.review_list.review_rates == "None" %}
                      <figure style="font-size:12px; color:#888888">Aguardando Primeira Avaliaçao!</figure>
                    {% else %}
                      <div style="display:block">
                        <span style="color:#70b7c8; dislay:inline" class="stars" data-rating="{{place.review_list.review_rates.rate_average}}" data-num-stars="5"></span>&nbsp;
                        <span style="font-size:12px; color:#888888">{{place.review_list.review_rates.n_review}} Avaliações</span>
                      </div>
                    {% endif %}

                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </section>

















<!-- ==================================================================================================== -->
<!--                                                                                                      -->
<!--                                            End Page                                                  -->
<!--                                                                                                      -->
<!-- ==================================================================================================== -->
      {% if place_list.paginator.num_pages > 1 %}
        <nav>
          <ul class="paginatio/ pull-right">
            {% if place_list.has_previous %}
                <li><a class="paginator_common" href="?page={{ place_list.previous_page_number }}" class="previous"><i class="fa fa-angle-left"></i></a></li>
            {% endif %}
            {% for page_number in place_list.paginator.place_range %}
                {% if page_number == place_list.number %}
                  <li class="active"><a class="paginator_common" href="?page={{page_number}}">{{page_number}}</a></li>
                {% else %}
                  <li><a class="paginator_common" href="?page={{page_number}}">{{page_number}}</a></li>
                {% endif %}
            {% endfor %}
            {% if place_list.has_next %}
              <li><a class="paginator_common" href="?page={{ place_list.next_page_number }}" class="next"><i class="fa fa-angle-right"></i></a></li>
            {% endif %}
          </ul>
        </nav>     
      {% endif %}   








    </div>
  </div>
</section>





















<!-- ==================================================================================================== -->
<!--                                                                                                      -->
<!--                                          Javascript                                                  -->
<!--                                                                                                      -->
<!-- ==================================================================================================== -->
{% block jquery %}
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script type="text/javascript" src="/static/slider/nouislider.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
  <script type="text/javascript" src="/static/CUSTOM_JS/core/review.js"></script>
{% endblock jquery %}

  <script>
    // ==================== 
    // LEFT PANEL
    // ====================    
    // Toggler
    $(".toggle_buyer_seller_base").click(function() {
      if($(".toggle_pnleft_sign").html() == "+"){
        $(".toggle_pnleft_sign").html("&minus;")
      } else {
        $(".toggle_pnleft_sign").html("+")
      }
      $(".toggle_menu").slideToggle();
    });

    // Capacity
    // source: https://refreshless.com/nouislider/
    var slider_page = document.getElementById('search_capacity');
    var start_value = parseInt("{{capacity}}")
    noUiSlider.create(slider_page, {
      start: [start_value],
      range: {
        'min': [0],
        'max': [5000]
      },
      step: 1,
      connect: [true, false],
    });
    slider_page.noUiSlider.on("slide", function(values){
      $("#capacity_val").html(parseInt(values))
    })


    $(document).ready(function(){
      $('#date_id').mask("00 / 00 / 0000",{placeholder:"dd / mm / aaaa"});
    })








// ==================== 
// LIST ITEMS
// ==================== 
  // Description
  $(document).on("mouseenter", ".place_item", function(){
    var pk = $(this).attr("pk")
    $("#overlay_" + pk).fadeIn(300)
  })
  $(document).on("mouseleave", ".place_item", function(){
    var pk = $(this).attr("pk")
    $("#overlay_" + pk).fadeOut(300)
  })











    function initAutocomplete() {
      //----autocomplete start
      var input = (document.getElementById('place_id'));
      var defaultBounds = new google.maps.LatLngBounds(
        new google.maps.LatLng(-24.230623, -53.141559),
        new google.maps.LatLng(-20.533727, -44.352497)
      );
      var options = {
          bounds:defaultBounds
      };
      var autocomplete = new google.maps.places.Autocomplete(input, options);
      //----autocomplete end
    }


  </script>
{% block js_maps %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgsG2vhClFly8kadgTOHCX4wucOwgTiuw&libraries=places&callback=initAutocomplete&language=pt"async defer></script>
{% endblock js_maps %}

{% block js_select_customize %}
{% endblock js_select_customize %}
{% endblock content %}




