{% extends "_base_user.html" %}
{% block page_title %}{{place.name}}{% endblock page_title %}
{% block content %}

<!-- =====================================================
CSS imports
===================================================== -->  



<!-- =====================================================
Body code
===================================================== -->


<!-- =====================================================
JS imports
===================================================== -->
{% endblock content %}

