{% extends "_base_user.html" %}
{% block page_title %}{{place.name}}{% endblock page_title %}
{% block js_select_customize %}{% endblock js_select_customize %}
{% block content %}
{% load datetime_tags %}

<!-- =====================================================
CSS imports
===================================================== -->  
<link rel="stylesheet" href="/static/CUSTOM_CSS/core/custom_container.css" type="text/css">
<link rel="stylesheet" href="/static/CUSTOM_CSS/place/place_buy.css" type="text/css">



<!-- =====================================================
Body code
===================================================== -->
<div class="separador-30"> </div>
<section class="container">
  <input type="text" id="placeprice_pk" style="display:none"/>
  <input type="text" id="placeprice_value" style="display:none"/>
  <div class="buyingflux_place_container">
    <div class="buyingflux_place_photo">
        <div class="center-cropped img-center" style="width:100%; height:100px;background-image: url(/media/{{place.photo}});"></div>
    </div><!--
    --><div class="buyingflux_place_description">
      {{place.name}}<br>
      Capacidade: {{capacity}}<br>
      Endereço: {{place.address}}<br>
    </div>
  </div>
  <div class="separador-50"> </div>
  <div id="buyingflux_checkout">





      {% if placeprices_none %}
        <div class="col-md-6">
          <div class="page_title">Ou selecione outra opção</div>
          <div class="separador-20"> </div>
        </div>
      {% endif %}
    </div>
  </div>















  <div id="payment_container">
    <div class="page_title">Pagamento</div>
    <button id="backto_selectprice">Voltar</button>
    <div class="separador-20"> </div>

    <div class="pay_col pay_col_editable" style="padding-left:0px;" id="col_zip">
      <div class="pay_title" style="position:relative">Código Postal {% include "_question_mark.html" %}</div>

      <input class="pay_editable_field" type="text" id="zip_code" maxlength="9"/>
      {# <br><div class="error_message" style="float:left" id="zip_code_error">CEP não encontrado</div> #}
    </div><!--
    --><div class="pay_col pay_col_editable" id="col_number">
      <div class="pay_title">Número</div>
      <input class="pay_editable_field pay_noneditable_field" type="text" id="number" readonly/>
    </div>



    <div class="pay_col" style="padding-left:0px;">
      <div class="pay_title">Estado</div>
      <input class="pay_noneditable_field" type="text" id="id_state" readonly/>
    </div><!--
    --><div class="pay_col">
      <div class="pay_title">Cidade</div>
      <input class="pay_noneditable_field" type="text" id="id_city" readonly/>
    </div>


    <div class="pay_col" style="padding-left:0px;">
      <div class="pay_title">Bairro</div>
      <input class="pay_noneditable_field" type="text" id="id_neighbourhood" readonly/>
    </div><!--
    --><div class="pay_col">
      <div class="pay_title">Rua</div>
      <input class="pay_noneditable_field" type="text" id="id_street" readonly/>
    </div>
    <div class="separador-40"> </div>


    

    <button id="pay-boleto" class="pay_button pay_button_disabled">Pagar por Boleto Bancário</button>
    <button id="pay-credit-card" class="pay_button pay_button_disabled">Pagar por Cartão</button>

  </div>
</section>
<div class="separador-100"> </div>

<!-- =====================================================
JS imports
===================================================== -->
{% block jquery %}
    <script type="text/javascript" src="/static/base_template_user/assets/js/jquery-2.1.0.min.js"></script>
{% endblock jquery %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.min.js"></script>
    <script type="text/javascript" src="/static/CUSTOM_JS/place/place_buy.js"></script>
    <!-- SCRIPT PAGAR.ME -->
    <script src="https://assets.pagar.me/pagarme-js/3.0/pagarme.min.js"></script>
    <script src="https://assets.pagar.me/checkout/1.1.0/checkout.js"></script>
    <script>
      // Help tip
      $("#help_tip p").html("O código postal pode ser consultado no site dos correios, <a href='http://www.buscacep.correios.com.br/sistemas/buscacep/'>aqui</a>.")
      $("#help_tip").css("position", "absolute")
      $("#help_tip").css("top", "0")
      $("#help_tip").css("right", "0")


      // Credit Card
      $(document).on('click', "#pay-credit-card", function() {
        var checkout = new PagarMeCheckout.Checkout({
          encryption_key: "{{encryption_key}}",
          success: function(data) {
            var url_str = "/buffet/finalizar-compra/?data=" + encodeURIComponent(JSON.stringify(data))
            url_str += "&place_pk=" + "{{place_pk}}"
            url_str += "&capacidade=" + "{{capacity}}"
            url_str += "&date=" + encodeURIComponent("{{date|safe}}")
            url_str += "&period=" + encodeURIComponent("{{period|safe}}")
            url_str += "&placeprice_pk=" + $("#placeprice_pk").val()

            url_str += "&zip_code=" + $("#zip_code").val()
            url_str += "&number=" + $("#number").val()
            url_str += "&state=" + $("#id_state").val()
            url_str += "&city=" + $("#id_city").val()
            url_str += "&neighbourhood=" + $("#id_neighbourhood").val()
            url_str += "&street=" + $("#id_street").val()







            window.location.replace(url_str);
          },
          error: function(err) {
            console.log(err);
          },
          close: function() {
            console.log('The modal has been closed.');
          }
        });
        checkout.open({
          amount: $("#placeprice_value").val(),
          maxInstallments: 12,
          uiColor: "#41b3bd",
          headerText: "Hello!",
          paymentButtonText: "Salut!",
          buttonText: 'Pagar',
          buttonClass: 'botao-pagamento',
          customerData: 'false',
          createToken: 'false',
          paymentMethods: 'credit_card',
          customer: {
            external_id: '#123456789',
            name: 'Fulano',
            type: 'individual',
            country: 'br',
            email: 'fulano@email.com',
            documents: [
              {
                type: 'cpf',
                number: '71404665560',
              },
            ],
            phone_numbers: ['+5511999998888'],
            birthday: '1985-01-01'
          },
        });
      });




      // Boleto
      // $(document).on('click', "#pay-boleto", function() {
      //   var checkout = new PagarMeCheckout.Checkout({
      //     encryption_key: "{{encryption_key}}",
      //     success: function(data) {
      //       console.log(data);
      //     },
      //     error: function(err) {
      //       console.log(err);
      //     },
      //     close: function() {
      //       console.log('The modal has been closed.');
      //     }
      //   });
      //   checkout.open({
      //     amount: 8000,
      //     buttonText: 'Pagar',
      //     buttonClass: 'botao-pagamento',
      //     customerData: 'false',
      //     createToken: 'false',
      //     paymentMethods: 'boleto',
      //     customer: {
      //       external_id: '#123456789',
      //       name: 'Fulano',
      //       type: 'individual',
      //       country: 'br',
      //       email: 'fulano@email.com',
      //       documents: [
      //         {
      //           type: 'cpf',
      //           number: '71404665560',
      //         },
      //       ],
      //       phone_numbers: ['+5511999998888', '+5511888889999'],
      //       birthday: '1985-01-01'
      //     },
      //   });
      // });

    </script>
<script>


</script>



{% endblock content %}

