/* ===========================================
Panel Left 
=========================================== */
.pnleft_label {
	color:#747474; 
	font-weight:bold;
	width:100%;
	display:inline-block;
	padding-right:10px;
}
.pnleft_card {
	background-color: #f4f4f4;
	padding:15px 10px 25px 10px;
	border-radius:10px;
}
.pnleft_input {
	font-size:12px !important;
	font-weight:normal;
}
#pnleft_update {
	line-height:10px;
	border-radius:10px;
}

/* Toggler */
.toggle_pnleft {
	position:relative;
	top:50px;
	display:inline-block;
}
.toggle_pnleft_sign {
	position:absolute;
	top:13px;
	right:25px;
	font-size:24px !important;
	color:#4fa7bc;
	font-weight:bold;
}
@media(max-width:767px){
	.toggle_menu {
		display:none;
	}
	.toggle_button {
		display:block;
	}
}
@media(min-width:768px){
	.toggle_menu {
		display:block;
	}
	.toggle_button {
		display:none;
	}
}

/* Capacity 
Font: https://refreshless.com/nouislider/more/ */
.noUi-connect {
	background:#4fa7bc !important;
}
.noUi-handle {
	width:22px !important;
	height:22px !important;
	margin-top:3px !important;
}
.noUi-connects {
	border-radius:0 !important;
}


/* Search */
#place_id {
	font-size:16px;
}
#search_button {
	position:absolute;
	right:0;
	top:0;
	height:31px;
	width:40px;
	background-color:#4fa7bc;
	cursor:pointer;
	color:white;
	text-align:center;
	line-height:31px;
}




/* ===========================================
List Items
=========================================== */
.place_item {
	position:relative;
	margin-bottom:30px;
	height:320px;
	cursor:pointer;
	z-index:2;
}
.overlay {
	background-color:rgba(0,0,0,0.5);
	height:200px;
	border-radius:5px;
	color:white;
	padding:40px 5px 0 5px;
	display:none;
	position:absolute;
	width:100%;

}
.content {
    overflow: hidden;
    display:-webkit-box;
    height:60px;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  	
}
.place_featured {
	background-color:#f74234;
	position:absolute;
	top:-5px;
	right:5px;
	width:35px;
	height:35px;
	z-index:2;
}
.place_image {
	height:200px;
	width:100%;
	vertical-align:bottom;
	border-radius:5px;
	position:absolute;
	top:0;
	z-index:-1;
}
.place_list_line {
	width:80%;
	margin:center;
	margin-top:0;
	margin-bottom:0;
}
.place_description_wrapper {
	width:100%;
	padding-top:20px;
	position:absolute;
	top:200px;
}
.place_description_cell {
	vertical-align:top;
	text-align:left;
	width:100%;
}
.place_name_container {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.place_name {
	font-size:16px;
	color:#00195c;
	font-weight:bold;
	font-family: "Arial", Helvetica;
}
.place_address {
	font-size:14px;
	color:#383838;
	font-family: "Arial", Helvetica;
	font-weight:600;
	line-height:14px;

}
.place_price {
	font-family: "Arial", Helvetica;
	font-size:12px;
	color:#383838;
	display:inline;
	font-weight:normal;
	font-weight:bold;
}


