{% extends template_base %}
{% block panel_title %}Mensagens{% endblock panel_title %}
{% block user_panel_content %}
<style>
  .message_container {
    max-width:700px;
    background-color:white;
    border:1px solid #ebebeb;
    cursor:pointer;
  }
  .message_container:hover {
    background-color:#fafafa;
  }

  .message_text {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    height:60px;
    overflow:hidden;
  }
  .color_black {
    color:black;
  }
  .color_lightgray {
    color:#b6b6b6;
  }
  .color_gray {
    color:#8b8b8b;
  }

</style>

{% for message in messages %}
  <div class="message_container" {% if not forloop.last %}style="border-bottom:none"{% endif %} onclick="javascript:location.href='/usuario/chat/visualizar/?place_pk={{message.place.pk}}'">
    <div style="width:20%; min-height:120px; display:inline-block; text-align:center; padding-top:10px; vertical-align:top; position:relative;">
      <div class="center-cropped img-center buyerprofile_photo" style="background-image: url({% if message.photo %}/media/{{message.photo}}{% else %}/static/img/icon/user.png{% endif %});"></div>
    </div><!--
    --><div style="width:80%; display:inline-block; color:#102766; position:relative">
      <span class="color_lightgray" style="position:absolute; top:10px; right:10px">{{message.datetime|date:'d/m/y'}}</span>
      <span class="color_black" style="position:absolute; top:10px;">{{message.place.name}}</span>
      <span class="color_black" style="position:absolute; top:30px;">{{message.place.address}}</span>
      <div class="separador-60"> </div>
      <div class="message_text color_gray">
        {{message.text}}
      </div>
      <div class="separador-10"> </div>
    </div>
  </div>
{% endfor %}









{% endblock user_panel_content %}